html.sortActivityActive{
    scroll-behavior: unset !important;
}

.sort-activity-instructions{
    margin: 3%;
    color: white;
    font-size: 1.7rem;
    padding: 0;
}
.sort-activity-sort-droppables.small-screen, .sort-activity-itemBank-droppables.small-screen{
    width: 90%;
}

.sort-activity-sort-droppables{
    @include border-radius(10px);
    height: 100%;
    border: 1px solid black;
    font-size: 1.2rem;
    margin: 1.2%;
    list-style-type: none;
    width: 30%;
    .sort-activity-inner-droppable {
        @include border-radius(0px 0px 10px 10px);
        height: 150px;
        border-top: 1px black solid;
        overflow-y: auto;
    }
    p{
        color: black;
        @include no-space;
    }
}
.sort-activity-inner-droppable{
    @include no-space;
    list-style-type: none;
}

.sort-activity-itemBank-droppables{
    @extend .sort-activity-sort-droppables;
    border: none;
    margin-bottom: 5%;
    .sort-activity-inner-droppable {
        @include border-radius(10px);
        height: 100%;
        min-height: 150px;
        overflow-y: hidden;
        border: 1px rgba(0,0,0,0) solid;
    }
}

.sort-activity-answers-draggables{
    @include border-radius(20px);
    @include center;
    text-align: center;
    width: 90%;
    font-size: 0.9rem;
    color: black;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}
.sort-activity-is-dragging{
    background-color: white;
    color: black;
}
.sort-activity-answers-draggables:hover{
    @extend .sort-activity-is-dragging;
}
.sort-activity-answers-draggables:active{
    @extend .sort-activity-is-dragging;
}

.sort-activity-inner-droppable.sort-activity-dragging-over{
    background-color: $main-color;
}
