.instructions{
    margin: 3%;
    color: white;
    font-size: 1.7rem;
    padding: 0;
}
.draggableAreaContainer{
    padding: 10px;
}
.draggableAreaContainer::-webkit-scrollbar{
    height: 9px;
}
.draggableAreaContainer::-webkit-scrollbar-thumb{
    background-color: white;
    @include border-radius(10px)
}
.sortArea{
    @include border-radius(10px);
    height: 100%;
    border: 1px solid white;
    font-size: 1.2rem;
    margin: 1.2%;
    list-style-type: none;
    width: 100%;
}
.sortArea p{
    color: white;
    @include no-space;
}
.dropContainer{
    @include no-space;
    min-height: 150px;
    list-style-type: none;
}
.sortArea .dropContainer {
    border-top: 1px white solid;
}
.answerArea{
    @extend .sortArea;
    border: none;
    margin-bottom: 5%;
}
.answerArea .dropContainer{
    border: 1px rgba(0,0,0,0) solid;
}
.dragItem{
    text-align: center;
    width: 90%;
    font-size: 0.9rem;
    color: white;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    @include border-radius(20px)
}
.dragItem:hover{
    background-color: white;
    color: black;
}
.dragItem:active{
    background-color: white;
    color: black;
}