@mixin sort-activity-draggable-styles {
    list-style-type: none;
    min-height: 4.5rem;
    height: 4.5rem;
    width: 100%;
    min-width: 135px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    @include border-radius(5px);
    border: 1px solid rgba(0, 0,0,0);
    padding: 0.5rem;
    background-color: $white;
    margin-bottom: 0.8rem;
    font-size: 0.75rem;
    @include box-shadow(rgba(0, 0, 0, 0.082) 0px 5px 11px 0.1px);
    z-index: 2;
}
@mixin sort-activity-inner-droppable {
    @include border-radius(0px 0px 10px 10px);
    list-style-type: none;
    padding: 0.4rem;
    flex-grow: 1;
}
$activity-container-height: calc(92vh - 2rem);
$activity-container-min-height: calc(600px - 7vh - 2rem);
$sort-activity-container-height: calc(#{$activity-container-height} - 3.6rem - 23px);
$sort-activity-container-min-height: calc(#{$activity-container-min-height} - 3.6rem - 23px);

html.sortActivityActive{
    scroll-behavior: unset !important;
}

.sort-activity-header{
    position: relative;
    margin-top: 0.2rem;
    margin-bottom: 1vh;
    height: 3.4rem;
}
.sort-activity-instructions-position{
    position: absolute;
    top: 0;
    right: 0.5rem;
}
.sort-activity-container{
    position: relative;
    padding: 1rem;
    background-color: $white;
    height: $sort-activity-container-height;
    min-height: $sort-activity-container-min-height;
    @include border-radius(0.5rem);
}
.sort-activity-container.full-size{
    //min-height: 26rem;
}
.sort-activity-container::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 5%;
    width: 90%;
    height: calc(50%);
    @include box-shadow(rgba(0, 0, 0, 0.425) 0px -2px 23px 2px);
    z-index: -1;
}
.sort-activity-itemBank{
    position: relative;
    background-color: $light-blue;
    @include border-radius(0.5rem);
    margin-top: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: calc(max(20rem, 30vh));
    min-width: 300px;
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
        background-color: rgba(201, 201, 201, 0);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
}
.sort-activity-itemBank.full-size{
    width: calc(100% / 3 - 0.5rem);
    min-width: 0;
    margin-top: 0;
    margin-right: 1.5rem;
    min-height:calc(#{$sort-activity-container-min-height} - 2rem);
    height: calc(#{$sort-activity-container-height} - 2rem);
    .sort-activity-itemBank-column-1{
        min-height: calc(75vh - 6rem);
    }
}
.sort-activity-categories{
    background-color: $light-blue;
    @include border-radius(0.5rem);
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
        background-color: rgba(201, 201, 201, 0);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
}
.sort-activity-categories.full-size{
    width: calc(200% / 3);
    min-width: 0;
    margin-top: 0;
    min-height:calc(#{$sort-activity-container-min-height} - 2rem);
    height: calc(#{$sort-activity-container-height} - 2rem);
}

.sort-activity-column-titles{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    font-size: 1.4rem;
    font-weight: 500;
    height: 3.5rem;
    color: $dark-blue;
    z-index: 5;
    background-color: $light-blue;
    margin: 0;
}

.sort-activity-itemBank-droppables{
    @include border-radius(10px);
    height: 100%;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0.5rem;
    padding-right: 0;
    .sort-activity-inner-droppable {
        @include sort-activity-inner-droppable();
        height: 100%;
        margin-bottom: 0;
    }
}
.sort-activity-category-droppables{
    padding: 0 0.6rem;
    padding-right: 0.2rem;
    padding-top: 0.8rem;
}
.sort-activity-sort-droppables{
    padding-left: 0.4rem;
    position: relative;
    background-color: $white;
    height: calc(40vh - 2rem);
    min-height: 15rem;
    width: calc(50% - 0.4rem);
    margin-bottom: 0.8rem;
    @include border-radius(0.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    resize: vertical;
    &::-webkit-scrollbar{
        width: 0.4rem;
        @include border-radius(7px);
        background-color: rgba(201, 201, 201, 0);
    }
  
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
    .sort-activity-droppable-header{
        height: 2rem;
        margin: 0;
        font-weight: 500;
        text-decoration: underline;
        color: $darkest-gray;
        position: sticky;
        top:0;
        left: 0;
        z-index: 3;
        background-color: $white;
    }
    .sort-activity-inner-droppable {
        @include sort-activity-inner-droppable();
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }   
}
.sort-activity-droppable-placeholder:after{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "Drag answers here";
    font-size: 0.8rem;
    color: $dark-gray;
    font-weight: 400;
}
.sort-activity-sort-droppables.first-item{
    margin-left: 0;
    margin-right: 0.6rem;
}

.sort-activity-sort-droppables.third-category{
    width: 100%;
    margin: 0;
    height: calc(33% - 1.5rem);
}

.sort-activity-draggables{
    @include sort-activity-draggable-styles();
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
        background-color: rgba(201, 201, 201, 0);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
    div{
        margin: auto;
        width: 100%;
        @include transition(transform 0.2s ease-out)
    }
    div:hover{
        transform: scale(1.05);
    }
    &:hover{
        cursor: grab;
    }
    cursor: grabbing;
}

.sort-activity-is-dragging{
    opacity: 0.5;
    // color: $main-font-color ;
    // background-color: $light-gray;
    // border: 1px solid $black;
    // div{
    //     transform: scale(1.1);
    // }
}

.sort-activity-dragging-over{
    background-color: $darkest-gray;
}
.sort-activity-tap-active:hover{
    cursor: pointer;
    background-color: $darkest-gray;
}
// .sort-activity-instructions{
//     margin: 3%;
//     color: white;
//     font-size: 1.7rem;
//     padding: 0;
// }
// .sort-activity-sort-droppables.small-screen, .sort-activity-itemBank-droppables.small-screen{
//     width: 90%;
// }

// .sort-activity-sort-droppables{
//     @include border-radius(10px);
//     height: 100%;
//     border: 1px solid black;
//     font-size: 1.2rem;
//     margin: 1.2%;
//     list-style-type: none;
//     width: 30%;
//     .sort-activity-inner-droppable {
//         @include border-radius(0px 0px 10px 10px);
//         height: 150px;
//         border-top: 1px black solid;
//         overflow-y: auto;
//     }
//     p{
//         color: black;
//         @include no-space;
//     }
// }
// .sort-activity-inner-droppable{
//     @include no-space;
//     list-style-type: none;
// }

// .sort-activity-itemBank-droppables{
//     @extend .sort-activity-sort-droppables;
//     border: none;
//     margin-bottom: 5%;
//     .sort-activity-inner-droppable {
//         @include border-radius(10px);
//         height: 100%;
//         min-height: 150px;
//         overflow-y: hidden;
//         border: 1px rgba(0,0,0,0) solid;
//     }
// }


// .sort-activity-is-dragging{
//     background-color: white;
//     color: black;
// }
// .sort-activity-answers-draggables:hover{
//     @extend .sort-activity-is-dragging;
// }
// .sort-activity-answers-draggables:active{
//     @extend .sort-activity-is-dragging;
// }

// .sort-activity-inner-droppable.sort-activity-dragging-over{
//     background-color: $main-color;
// }
