@mixin homepage-sm {
    .intro-blurb {
        width: 50%;
    }
    .feature-module-desc {
        width: 100%;
    }
}

@mixin homepage-xs {
    .intro-blurb {
        width: 100%;
    }
    .intro-homepage {
        padding: 100px 2rem;
    }
}


