.homePage{
    position: relative;
    text-align: justify;
    padding: 200px 10vw;
    margin: 0;
    height: 80%;
    width: 100%;
    z-index: 1;
}

.homePageImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $bg-color;
    object-fit: cover;
    object-position: top;
    @include fillContainer;
}
//Controls the twinkling of stars
.star {
    position: absolute;
    width: 2px;
    height: 1.5px;
    background: rgba(255,255,255,0);
    border-radius: 5px;
    z-index:0;
}

@keyframes twinkle {
    0% {
        transform: scale(1, 1);
        background: rgba(255,255,255,0.0);
        animation-timing-function: ease-in;
    }

    60% {
        transform: scale(0.8, 0.8);
        background: rgba(255,255,255,1);
        animation-timing-function: ease-out;
    }

    100% {
        background: rgba(255,255,255,0.0);
        transform: scale(1, 1);
        animation-timing-function: ease-in;
    }
}

.homePageText{
    color: white;
}

.introContainer{
    color: white;
    text-align: left;
    padding-left: 3vw;
}

.introContainer h2{
    width: 30vw;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.introContainer p{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.introContainer button{
    display: flex;
    align-items: center;
}

.introContainer button>span{
    padding-left: 10px;
    font-size: 1.3em;
}