.stars{
    min-height: 200px;
    position: absolute;
    width: 100%;
    height: 27vh;
    z-index: 2;
    object-fit: cover;
}
.homePage{
    position: relative;
    text-align: justify;
    padding: 0 10vw;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0;
    min-height: 550px;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.homePageImage{
    @include anchor-top-left;
    @include fillContainer;
    position: absolute;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}

.homePageText{
    color: $main-font-color;
}

.introContainer{
    @include border-radius(5px);
    position: relative;
    color: $main-font-color;
    text-align: center;
    padding: 30px;
    min-width: 250px;
    width: 35vw;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.342); 
    z-index: 1;
    background: rgba(6, 29, 80, 0.383);
    overflow: hidden;
}
.introContainer:before{
    @include anchor-top-left;
    position: absolute;
    content: "";
    z-index: -1;
    box-shadow: inset 0 0 2000px rgb(20, 33, 73);
    filter: blur(4px);
}

.introContainer h2{
    width: 30vw;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.introContainer p{
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

#signup-btn{
    @include center;
    height: 50px;
}

#signup-btn span{
    font-size: 0.95rem;
}
#signup-btn span i{
    padding-left: 0.5rem;
    font-size: 1.2rem;
}
#home-enter-code>input[type="number"]{
    width: 110px;
}
#home-enter-code>label{
    border: none !important;
    font-size: 0.8rem;
    @include transition(opacity .1s ease-in-out, transform .1s ease-in-out);
}
#home-enter-code>.form-control:focus,
#home-enter-code>.form-control:not(:placeholder-shown),
#home-enter-code>.form-select {
        ~ label{
        opacity: 0.9;
        transform: scale(.7) translateY(-0.7rem) translateX(0.2rem) !important;
    }
}

.home-explore-link{
    color: white;
    justify-self: end;
}
.home-explore-link:hover{
    color: rgb(170, 169, 169);
}
.home-explore-link>p{
    display: inline;
    margin: 0;
}
