#footer {
  padding: 0 4rem;
  padding-top: 3.5rem;
  padding-bottom: 0.75rem;
  background-color: $dark-purple;
  h5 {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    color: $white;
  }
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  letter-spacing: 0.5px;
  &::after {
    margin-top: 5%;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $lightest-gray;
  }
}
.footer-column {
  margin: 0 5%;
  &:first-child {
    margin-left: 0;
  }
}
.foot-link {
  position: relative;
  color: $white;
  width: fit-content;
  font-weight: 400;
  font-family: "Roboto", "sans-serif";
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background-color: $white;
    content: "";
    width: 0%;
    transition: all ease-out 0.25s;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover {
    color: $white;
  }
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & > div {
    width: fit-content;
  }
  p {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 0.8rem;
    color: $white;
    margin-bottom: 0.7rem;
        width: 100%;

  }
  .footer-hashtags {
    width: 100%;
    p {
      font-weight: 500;
      color: $light-gray;
    }
  }
}
.footer-social-media-icons {
  display: flex;
  a {
    position: relative;
    font-size: 1.4rem;
    margin: 0 1rem;
    width: 1.4rem;
    color: $white;

    svg{
      position: relative;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      top: -0.15rem;
      left: -0.55rem;
      background-color: $dark-blue;
      height: 2.3rem;
      width: 2.3rem;
      z-index: 0;
      @include border-radius(2rem)
    }
  }
  a:hover{
    color: $white;
  }
  .footer-facebook-icon{
        height: 1.9rem;
        display: flex;
        align-items: center;
        margin-right: 0.75rem;
        font-size: 1.2rem;
        &::after{
              left: -0.75rem;
        }
  }
}
.footer-social-media-support {
  margin-top: 1rem;
}

.footer-copyright {
  @include no-space;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  color: $white;
  width: 100%;
  padding: 0.5rem 0;
  a {
    position: relative;
  }
  .footer-logo{
    margin-left: 0.7rem;
  }
  .nav-brand {
    margin-left: 1rem;
  }
  .navbar-logo {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      top: -0.55rem;
      left: -0.3rem;
      background-color: $white;
      z-index: 0;
      @include border-radius(3rem);
    }
  }
  p {
    font-weight: 500;
    font-size: 0.8rem;
    color: $white;
    margin: 0;
  }
}
