@import "./LoginForm/loginForm";
@import "./SignUpForm/signupForm";

.entry-form-nav-btns>button{
    background-color: #0e050f09;
    border: 1px solid $main-font-color;
    color: $main-font-color;
}

.entry-form-type-btns>button{
    color: $main-font-color;
}

.entry-form-type-btns>button.active{
    color: #592a80;
    background-color: $main-font-color;
}
.entry-form-type-btns>.student{
    margin-right: 1vw;
    border: 1px solid $main-font-color;
}

.entry-form-type-btns>.teacher{
    margin-left: 1vw;
    background-color: black;
}

.entry-form-nav-btns>button:hover, .entry-form-type-btns>button:hover{
    background-color: $main-font-color;
    border: 1px solid $main-font-color;
    color: #592a80;
}

.entry-google-btn{
    @include center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.entry-g_id_signin{
    display: flex;
    justify-content: center;
}

/* Sign up with e-mail button */
.entry-email-btn{
    align-self: center;
    background-color: $main-font-color;
    border: 1.5px solid $main-font-color;
}
.entry-email-btn:hover{
    background-color: rgb(119, 119, 119);
    color:white;
}
.entry-email-text {
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}

//for number verification codes
.entry-code-input{
    @include center;
    flex-direction: column;
    color: $main-font-color;
}
.entry-code-inputs{
    @include center;
}
.entry-code-inputs>input{
    @include border-radius(5px);
    margin: 1vw 0.5vw;
    border: 1px solid black ;
    text-align:center;
    font-size: 18px;
    width: 30px;
}
.entry-code-label{
    text-align: center;
}

//Refactor
.entry-form-page {
    @include center;
    height: 100vh;
}

.entry-form-container {
    @include border-radius(50px);
    @include center;
    width: 70%;
    height: 75%;
    background-color: rgba(89, 42, 128, 0.65);
    backdrop-filter: blur(5px);
    padding: 50px;
}

.entry-form-check {
    color: $main-font-color
}

.entry-forms-floating.form-floating>label{
    padding: 0.6rem;
    color: $label-font-color;
    font-size: 14px;
    padding-top: 14px;
    @include transition(opacity .1s ease-in-out, transform .1s ease-in-out);
}

.entry-forms-floating.form-select{
    height: 40px;
    font-size: 13px;
}


.entry-forms-floating.form-control:focus,
.entry-forms-floating.form-control:not(:placeholder-shown),
.entry-forms-floating.form-select {
        ~ label{
        opacity: 0.9;
        transform: scale(.75) translateY(-.45rem) translateX(.2rem) !important;
    }
}
