.assignment-group-container {
    padding: 0rem 1.1rem;
    padding-bottom: 1.1rem;
    background-color: $lighter-gray;
    border-radius: 0.4rem;
    margin-bottom: 25px;

    h3 {
        font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $dark-purple;
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0;
        padding: 0.9rem 0;
    }
}