.shortAnswerApp{
    min-height: 100vh;
    //height: 100%;
    padding-top:  150px;
}

.SAInputContainer{
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 0.9em;
}
.SAInputContainer>textarea{
    min-height: 200px;
}

