.user-profile-avatar-container{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    overflow: hidden;
    @include border-radius(20rem);
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.user-profile-name-container{
    margin-top: 10%;
    width: 100%;
}
.user-profile-account-type{
    font-size: 0.65rem;
}