$activity-container-height: calc(94vh - 2rem);
$activity-container-min-height: calc(40rem - 7vh - 2rem);
$sa-activity-container-height: calc(
    #{$activity-container-height} 
    - 3.6rem 
    - 23px
);
$sa-activity-container-min-height: calc(
    #{$activity-container-min-height} 
    - 3.6rem 
    - 23px
);

.sa-activity-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @include border-radius(0.5rem);
    background-color: $white;
    padding: 1rem;
    min-height: calc(max(#{$sa-activity-container-height}, #{$sa-activity-container-min-height}));
    width: 100%;
}
.sa-activity-container::before{
    position: absolute;
    content: "";
    top: 1.5%;
    left: 1%;
    width: 98%;
    height: calc(98.5%);
    @include box-shadow(rgba(0, 0, 0, 0.425) 0px -2px 23px 2px);
    z-index: -1;
}
.sa-activity-inner-container{
    @include border-radius(0.5rem);
    background-color: $lighter-blue;
    padding: 1rem;
    width: 100%;
}
.sa-activity-question{
    background-color: $white;
    @include border-radius(7px);
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 2px);
    @include unselectable;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 100%;
    // min-width: 50%;
    // width: fit-content;
}

.sa-activity-question-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    .sa-activity-question{
        overflow-wrap: break-word;
        word-break: break-word;
        margin-bottom: 1rem;
        width: 85%;
        max-width: 85%;
        max-height: calc(max(25vh, 200px));
        overflow: auto;
        overflow-x: hidden;
        @include activity-scrollbar-styles();
    }
}

.sa-activity-image-container{
    padding: 0.6rem;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 5px);
    @include border-radius(7px);
    background-color: $white;
    @include  transition(all 0.3s ease-out);
    margin-bottom: 1rem;
    width: fit-content;
}

.sa-activity-image{
    height: 100%;
    width: 100%;
    max-height: calc(max(35vh, 300px));
    object-fit: contain;
    object-position: center;
    @include border-radius(7px);
    @include  transition(all 0.3s ease-out);
}

.sa-activity-image-container.zoomed-in{
    max-width: 90%;
    z-index: 3;
}
.sa-activity-image.zoomed-in{
    max-height: 85vh;
}
.sa-activity-input-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 1rem; 
    width: 45%;
    .form-floating>.form-control:not(:placeholder-shown)~label{
        opacity: 0;
    }
    .form-floating>.form-control:not(:placeholder-shown){
        padding: 0.5rem;
    }
    .form-control{
        padding-top: 0;
    }
    textarea{
        width: 100%;
        min-height: 5rem;
        font-size: 0.9rem;
    }
    
}
.sa-activity-input-container.portrait-size{
    width: 100%;
    margin-left: 0; 
}
.sa-activity-text-input{
    min-height: 5rem;
    font-size: 0.9rem;
    
    .form-control{
        height: 100%;
        resize: none;
    }
}
