.sortActivityApp{
    min-height: 1200px;
    height: 100vh;
    width: 100%;
    @include no-space;
}
.instructions{
    color: white;
    font-size: 2rem;
    @include no-space;
}
.draggableAreaContainer{
    width: 100%;
}
.sortAreaGroups{
    width: 41%;
    margin: 0 5%;
}
.sortArea{
    width : 100%;
    border: 1px solid white;
    font-size: 1.7rem;
    margin: 10% 0;
    list-style-type: none;
    @include border-radius(10px);
}
.sortArea>p{
    color: white;
    @include no-space;
}
.sortDropContainer{
    min-height: 200px;
    width: 100%;
    border-top: 1px white solid;
    list-style-type: none;
}
.answerArea{
    @extend .sortArea;
    width: 41%;
    margin-right: 5%;
    
}
.answerDropContainer{
    @extend .sortDropContainer;
    @include no-space;
}

.dragItem{
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
    color: white;
    list-style-type: none;
    margin: 1vw 1vw;
    padding: 5px;
    border: 1px solid white;
    @include border-radius(20px)
}