$main-font: 'Poppins', sans-serif;

$main-color: rgba(107, 97, 144, 0.8);

$bg-color: rgb(9, 3, 34);

@mixin box-shadow($x, $y, $blur, $color){
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    -ms-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
};

@mixin border-radius($x){
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    -ms-border-radius: $x;
    border-radius: $x;
};

@mixin position-transition{
    position: absolute;
    z-index: 3;
    transition: all 0.3s;
}

@mixin hidden{
    display: none;
    visibility: hidden;
    position: absolute;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fillContainer{
    height: 100%;
    width: 100%;
}

@mixin fullViewport{
    width: 100vw;
    height: 100vh;
}

@mixin hover-color{
    background: white;
    color:  #271b53;
}

@mixin no-space {
    margin: 0;
    padding: 0;
}