    .navbar.home-page-nav{
    @include border-radius(0);
    @include fillContainer;
    @include transition(all 0.25s ease-out);
    padding: 0.7rem 1.5rem;
    margin: 0;
    color: black;
    border: none;
    z-index:3;
    font-family: "Lato", "sans-serif";
    border-bottom: 2px transparent solid;

}
.navbar.scroll-active{
    background: rgba(255,255,255, 0.8);
    border-bottom: 2px $lighter-gray solid;
}
.nav-brand {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0 0.8rem;
}

.navbar-logo {
    height: 2rem;
}


.nav-btn.home-page-nav{
    @include center;
    @include border-radius(10px);
    @include remove-btn-default;
    position: relative;
    color: black;
    padding: 8px;
    text-align: center;
    font-size: 1em;
    transition: background-color ease-in-out 125ms;
    &:hover,
    &:active{
        @include hover-color;
    }
}

.nav-btn.home-page-nav>p{
    @include no-space;
    position: relative;
}

.nav-btn.home-page-nav{
    &:focus p::after,
    &:active p::after{
        position: absolute;
        content: "";
        width: calc(100% - 2px);
        left: 1px;
        bottom: -1.5px;
        height: 2px;
        background-color: $main-font-color;
    }
}

.btn-home-auth {
    position: relative;
    background-color: $cta-blue;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    height: 2.3rem;
    width: 6rem;
    border-radius: 0.6rem;
    &:hover, :active, :focus, :active:focus {
        border: none;
        background-color: $blue;
        box-shadow: none;
    }
}
.about-us-nav-item{
    position: relative;
    display: flex;
    &::after{
        content: "";
        right: 0;
        height: 100%;
        width: 1.5px;
        margin: 0 1rem;
        background-color: $orange;
    }
}

.link-about-us {
    display: flex;
    align-items: center;
    color: black;
    border: none;
    height: 100%;
    span{
        position: relative;
        height: min-content;
    }
    span::after{
        position: absolute;
        content: "";
        background-color: black;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0%;
        @include transition(0.25s ease-out all)
    }
    &:hover>span::after{
        width: 100%;
    }
}

#nav-toggler.home-page-nav{
    @include center;
    height: 2rem;
    width: 2rem;
}

#nav-toggler.home-page-nav, #search-btn{
    @include no-space;
}

#nav-icon.home-page-nav, #search-icon{
    @include center;
    @include fillContainer;
    @include transition(all 0.3s ease-out);
    color: black
}


#nav-icon.home-page-nav.fa-arrow-down{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
}

#nav-icon.home-page-nav.fa-bars{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
    font-size: 1.7rem;
}

.user {
    @include center;
    @include border-radius(15px);
    @include transition(background-color 250ms ease-in-out);
    @include transition(text-shadow 125ms ease-in-out);
    border: none;
    color: $main-font-color;
    height: 100%;
    padding: 5px 10px;
    background-color: transparent;
    &:hover {
        background-color: rgba(0,0,0,.35);
        cursor: pointer;
    }
}

.user-active {
    background-color: rgba(0,0,0,.35);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.user-student-name {
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color ease-in-out 125ms;
}

.user-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include border-radius(15px);
    width: 15rem;
    padding: .7rem;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    top: 75px;
    right: 30px;
    transition: top 250ms ease-out;
}

.user-dropdown-button {
    @include border-radius(10px);
    @include center;
    @include transition(all 250ms ease-in-out);
    border: none;
    color: rgba(10, 10, 10, 0.75);
    width: 100%;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: .5rem;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        @include hover-color;
        cursor: pointer;
    }
}

.user-dropdown-text {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    font-weight: 500;
    width: 100%;
}

.user-dropdown-icon {
    color: white;
}

.dropdown-enter {
    opacity: 0;
    transform: scale(0.9);
}
.dropdown-enter-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 1;
    transform: translateX(0);
}
.dropdown-exit {
    opacity: 1; 
}
.dropdown-exit-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 0;
    transform: scale(0.9);
}

