@mixin navbar-sm{
    .title{
        font-size: 2rem !important;
    }
}

@mixin navbar-md{
    .navbar.home-page-nav{
        background: rgba(255,255,255, 0.8);
    }
    .nav-brand {
        margin-left: 0.5rem;
    }
    .about-us-nav-item{
        &::after{
            width: 0;
            margin: 0;
        }
    }
    .link-about-us{
        display: flex;
        justify-content: center;
    }
    .navbar-nav{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>div{
            margin-bottom: 1rem
        }
        &>div:last-child{
            margin-bottom: 0
        }
    }
}

@mixin navbar-lg{
    #nav-icon{
        @include hidden;
    }
}

