@mixin navbar-sm{
    .title{
        font-size: 1.5em !important;
    }
}

@mixin navbar-md{
    .navbar.home-page-nav{
        padding: 15px 25px !important;
        background: $main-color;
    }
    .nav-brand {
        margin-left: 0.5rem;
    }
    #search-box{
        margin-top: 0.7rem;
    }
    #search-btn{
        height: 50px !important ;
    }
    #search-bar{
        height: 50px !important ;
    }
    #search-bar.expand{
        width: calc(100% - 60px);
        height: 50px;
    }
}

@mixin navbar-lg{
    #nav-icon{
        @include hidden;
    }
    #search-box{
        margin-left: 1.7rem
    }
    #search-bar.expand{
        width: 150px;
        transition: width ease 0.3s;
    }
    .signout-btn{
        margin-left: 1.7rem;
    }
}

