@import "./scss_abstracts/variables";
//styles for utility components
@import "../src/app/components/utilities/moreInfoBtn/infoBtn";
@import "../src/app/components/utilities/trianglePointer/trianglePointer";
@import "../src/app/components/utilities/loadingIcon/loadingIcon";
@import "../src/app/components/utilities/switchToggler/switchToggler";
@import "../src/app/components/utilities/userProfile/userProfile";
@import "../src/app/components/utilities/resizable/resizableHandle";
@import "../src/app/components/utilities/progressBar/progressBar";
@import "../src/app/components/utilities/miniScreenSidebar/miniScreenSidebar";
@import "../src/app/components/utilities/navbar/activityNavbar/navbar";
@import "../src/app/components/utilities/navbar/primaryNavbar/navbar";
@import "../src/app/components/utilities/sideBar/sidebar";
@import "../src/app/components/utilities/footer/footer";
@import "../src/app/components/utilities/carousel/singleSlideCarousel";
@import "../src/app/components/settingsModal/settingsModal";
@import "../src/app/components/utilities/modals/modal";
@import "../src/app/components/utilities/copyTextInput/copyTextInput";
@import "../src/app/components/utilities/radialLoadingDial/radialLoadingDial";

//Page Styles
@import "../src/app/components/homePage/home";
@import "../src/app/components/forms/forms";
@import "../src/app/components/activityTypes/activity";
@import "../src/app/components/dashboard/dashboard";
@import "../src/app/components/avatarCreator/avatar";
@import "../src/app/components/store/store";
@import "../src/app/components/about/about";
@import "../src/app/components/classPage/classPage";
//responsive stylesheet
@import "./scss_abstracts/mediaQueries";


body {
    font-family: $main-font;
    min-height: 40rem;
    @include fillContainer;
    @include no-space;
    overflow-y: scroll;
}

.App {
    position: relative;
    overflow-x: hidden;
}

p {
    font-family: $main-font;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

//styling for all inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

// input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
//     height: 50px !important;
//     font-size: 14px;
//     -moz-appearance: textfield;
// }

html,
body,
#root,
.App {
    height: 100%;
}