.formContainer{
    @include center;
    align-items: stretch;
    margin: 0;
    padding: 10vh 15vw;
    min-height: 600px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
}
#signUpForm{
    @extend #formContainer;
    @include border-radius(20px);
    @include fillContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    color: $main-font-color;
}
#loginForm{
    @extend #signUpForm;
}
#signUpForm.studentSignUpForm{
    background-color: $main-color;
    border: 1px solid $main-color;
}

#signUpForm.teacherSignUpForm{
    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid $main-font-color;
}

.formNavBtns>button{
    width: 100%;
    background-color: #0e050f09;
    border: 1px solid $main-font-color;
    color: $main-font-color;
}

.formTypeBtns>button{
    color: $main-font-color;
}
.formTypeBtns>button.active{
    color: #592a80;
    background-color: $main-font-color;
}
.formTypeBtns>.student{
    margin-right: 1vw;
    border: 1px solid $main-font-color;
}

.formTypeBtns>.teacher{
    margin-left: 1vw;
    background-color: black;
}

.formNavBtns>button:hover, .formTypeBtns>button:hover{
    background-color: $main-font-color;
    border: 1px solid $main-font-color;
    color: #592a80;
}

#signUpOptions{
    @include center;
    flex-direction: column;
}

#signUpOptions>button, .email-btn{
    @include no-space;
    @include border-radius(5px);
    align-items: center;
    height: 40px;
    width: 183px;
}


.google-btn{
    @include center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.g_id_signin{
    display: flex;
    justify-content: center;
}

/* Sign up with e-mail button */
.email-btn{
    align-self: center;
    background-color: $main-font-color;
    border: 1.5px solid $main-font-color;
}
.email-btn:hover{
    background-color: rgb(119, 119, 119);
    color:white;
}
.email-text {
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}
//styling for all inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    height: 50px !important;
    font-size: 14px;
    -moz-appearance: textfield;
}

.logSignForm.form-select{
    height: 40px;
    font-size: 13px;
}

//add .form-floating class and make sure label is below imput
//this creates new form floating labels
#signUpForm > div>.form-floating{
    color: $label-font-color;
}

.logSignForm.form-floating>label{
    padding: 0.6rem;
    color: $label-font-color;
    font-size: 14px;
    padding-top: 14px;
    @include transition(opacity .1s ease-in-out, transform .1s ease-in-out);
}
.logSignForm.form-control:focus,
.logSignForm.form-control:not(:placeholder-shown),
.logSignForm.form-select {
        ~ label{
        opacity: 0.9;
        transform: scale(.75) translateY(-.45rem) translateX(.2rem) !important;
    }
}

//for number verification codes
.code-input{
    @include center;
    flex-direction: column;
    color: $main-font-color;
}
.code-inputs{
    @include center;
}
.code-inputs>input{
    @include border-radius(5px);
    margin: 1vw 0.5vw;
    border: 1px solid black ;
    text-align:center;
    font-size: 18px;
    width: 30px;
}
.code-label{
    text-align: center;
}

//Refactor
.form-page {
    @include center;
    height: 100vh;
}

.form-container {
    @include border-radius(50px);
    @include center;
    width: 70%;
    height: 75%;
    background-color: rgba(89, 42, 128, 0.65);
    backdrop-filter: blur(5px);
    padding: 50px;
}

.form-signUpOptions {
    color: $main-font-color;
}

.form-check {
    color: $main-font-color
}
