    /* text font */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

    .navbar{
        @include border-radius(0);
        @include fillContainer;
        padding: 30px 10vw;
        margin: 0;
        color: white;
        border: none;
        transition: all 0.25s;
        z-index:3;
    }
    //when scrolled, padding is reduced to make navbar smaller
    //vertical height when scrolled: vertical height when not scrolled:
    .navbarScrollActive{
        background: $main-color;
        padding: 6px 30px;
    }
    
    .navbar a{
        color: white;
    }

    .companyTitle{
        font-size: 1.6em;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        letter-spacing: 0.1em;
        width: 20vw;
    }

    .nav-item{ 
        font-size: 1rem;    
        display: flex;
        //align-self: stretch;
       
    }
    .nav-link{
        @include center;
        @include fillContainer;
        @include border-radius(10px);
        text-align: center;
        font-size: 17px;
    }
    .nav-link:hover{
        @include hover-color;
    }
    
    /*spacing around nav elements i.e links and search bar */
    #navbarSupportedContent{
        @include no-space;
    }
    .navbar-nav{
        @include center;
    }

    #signOut-btn{
        @include fillContainer;
        font-size: 1rem;
    }
    .signout-btn{
        align-self: stretch;
    }
    #signIn-btn{
        @extend #signOut-btn ;
    }

    #search-box{
        padding: 0;
        align-self: stretch;
    }
    
    #search-bar{
        padding: 0;
        align-self: stretch;
        width: 0px;
        border: 0;
        transition: width ease 0.3s;
    }

    #search-bar.expand{
        margin: 0 0.5rem 0 0;
        padding-left: 10px;
        border: 0px;
        transition: width ease 0.3s;
    }
    #search-icon{
        font-size: 20px;
        @include border-radius(5px);
    }
    #search-icon:hover{
        @include hover-color
    }
    /* Right arrow icon on search toggle */
    #search-icon.fa-arrow-left{
        transform: rotate(180deg);
        transition: ease 0.2s;
        padding-bottom: 2px;
    }
    #search-btn{
        height: 100%;
        width: 50px;
    }
    #search-btn:hover{
        @include hover-color
    }
    #search-btn.border{
        box-shadow: 1px 1px 0 0 white, 
        0 0px 0 1px white;
    }
    
    #nav-button{
        @include center;
        height: 40px;
        width: 40px;
    }
    
    #nav-button, #search-btn{
        @include no-space;
    }
    
    #nav-icon, #search-icon{
        @include center;
        @include fillContainer;
        transition: all 0.3s;
        color: white;
    }
    
    #nav-icon:hover{
        @include hover-color;
    }
    

    #nav-icon.fa-arrow-down{
        transform: rotate(180deg);
        transition: ease 0.2s;
    }

    #nav-icon.fa-bars{
        transform: rotate(180deg);
        font-size: 28px;
        transition: ease 0.2s;
    }
    
    /* this is to control the drop animation of navbar */
    .collapsing{
        transition: height 0.15s ease !important;
    }

    .user {
        @include center;
        height: 100%;
        padding: 5px 10px;
        @include border-radius(25px);
        transition: background-color 250ms ease-in-out;
        //margin-left: 50px;
    }

    .user:hover {
        background-color: rgba(255, 255, 255, 0.267);
        cursor: pointer;
    }

    .user-active {
        background-color: rgba(255, 255, 255, 0.267);
    }

    .user-profile {
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 50%;
        background-color: white;
        @include center;
    }

    .user-icon {
        @include hover-color;
    }

    .user-reward {
        margin: 0 10px;
    }

    .user-reward-icon {
        margin-right: 5px;
        font-size: 1rem;
    }

    .user-dropdown {
        height: 400px;
        width: 600px;
        position: absolute;
        background-color:lighten($color: $bg-color, $amount: 5);
        @include border-radius(15px);
        top: 100px;
        display: flex;
    }

    .user-dropdown-panel {
        height: 100%;
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .user-dropdown-panel-header {
        height: 1.5rem;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .user-dropdown-assignment {
        height: 40%;
        width: 100%;
    }

    .user-dropdown-connect {
        height: 60%;
        width: 100%;
    }

    .user-dropdown-buttons {
        height: 50%;
        width: 100%;
    }

    .user-dropdown-button {
        width: 90%;
        height: 50px;
        @include center;
        padding: 10px;
        margin: 10px auto;
        @include border-radius(15px);
        background-color:lighten($color: $bg-color, $amount: 2);

    }
    .user-dropdown-button:hover {
        cursor: pointer;
    }

    .user-dropdown-social-icon {
        margin-right: 10px;
    }

    .dropdown-enter {
        opacity: 0;
        transform: scale(0.9);
    }
    .dropdown-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 300ms, transform 300ms;
    }
    .dropdown-exit {
        opacity: 1; 
    }
    .dropdown-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }
      