
    .navbar{
        @include border-radius(0);
        @include fillContainer;
        padding: 30px;
        margin: 0;
        color: white;
        border: none;
        transition: all 0.25s;
        z-index:3;
    }
    //when scrolled, padding is reduced to make navbar smaller
    //vertical height when scrolled: vertical height when not scrolled:
    .navbarScrollActive{
        background: $main-color;
        padding: 6px 30px;
    }
    
    .navbar a{
        color: white;
    }

    .companyTitle{
        font-size: 1.6em;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        letter-spacing: 0.1em;
        width: 20vw;
    }

    .nav-item{ 
        font-size: 1rem;    
        display: flex;
        align-self: stretch;
       
    }
    .nav-link{
        @include center;
        @include fillContainer;
        @include border-radius(10px);
        text-align: center;
        font-size: 17px;
    }
    .nav-link:hover{
        @include hover-color;
    }
    
    /*spacing around nav elements i.e links and search bar */
    #navbarSupportedContent{
        @include no-space;
    }
    .navbar-nav{
        @include center;
    }

    #signOut-btn{
        @include fillContainer;
        font-size: 1rem;
    }
    .signout-btn{
        align-self: stretch;
    }
    #signIn-btn{
        @extend #signOut-btn ;
    }

    #search-box{
        padding: 0;
        align-self: stretch;
    }
    
    #search-bar{
        padding: 0;
        align-self: stretch;
        width: 0px;
        border: 0;
        transition: width ease 0.3s;
    }

    #search-bar.expand{
        margin: 0 0.5rem 0 0;
        padding-left: 10px;
        border: 0px;
        transition: width ease 0.3s;
    }
    #search-icon{
        font-size: 20px;
        @include border-radius(5px);
    }
    #search-icon:hover{
        @include hover-color
    }
    /* Right arrow icon on search toggle */
    #search-icon.fa-arrow-left{
        transform: rotate(180deg);
        transition: ease 0.2s;
        padding-bottom: 2px;
    }
    #search-btn{
        height: 100%;
        width: 50px;
    }
    #search-btn:hover{
        @include hover-color
    }
    #search-btn.border{
        box-shadow: 1px 1px 0 0 white, 
        0 0px 0 1px white;
    }
    
    #nav-button{
        @include center;
        height: 40px;
        width: 40px;
    }
    
    #nav-button, #search-btn{
        @include no-space;
    }
    
    #nav-icon, #search-icon{
        @include center;
        @include fillContainer;
        transition: all 0.3s;
        color: white;
    }
    
    #nav-icon:hover{
        @include hover-color;
    }
    

    #nav-icon.fa-arrow-down{
        transform: rotate(180deg);
        transition: ease 0.2s;
    }

    #nav-icon.fa-bars{
        transform: rotate(180deg);
        font-size: 28px;
        transition: ease 0.2s;
    }
    

    /* this is to control the drop animation of navbar */
    .collapsing{
        transition: height 0.15s ease !important;
    }

    // .icon-button{
    //     height: 100%;
    // }