@mixin navbar-sm{
    .title{
        font-size: 1.5em !important;
    }
}

@mixin navbar-md{
    .navbar{
        padding: 30px 25px !important;
        background: $main-color;
    }
    #search-box{
        margin-top: 0.7rem;
    }
    #search-btn{
        height: 50px !important ;
    }
    #search-bar{
        height: 50px !important ;
    }
    #search-bar.expand{
        width: calc(100% - 60px);
        height: 50px;
    }

    .nav-item{
        @include fillContainer;
    }
    .nav-link:hover{
        @include hover-color;
        border-radius: 5px;
    }
}

@mixin navbar-lg{
    #nav-button, #nav-icon{
        @include hidden;
    }
    #search-box{
        margin-left: 1.7rem
    }
    #search-bar.expand{
        width: 150px;
        transition: width ease 0.3s;
    }
    .signout-btn{
        margin-left: 1.7rem;
    }
    .nav-item{
        width:8%;
    }
}

