#formContainer{
    @include center;
    margin: 0;
    padding: 10vh 15vw;
    align-items: stretch;
    min-height: 600px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
}
#signUpForm{
    @extend #formContainer;
    @include border-radius(20px);
    min-height: 520px;
    padding: 0 10vw;
    width:100%;
    height: 100%;
    flex-direction: column;
    color: white;
    background-color: $main-color;
}
#signUpForm>div>button{
    width: 100%;
    
}
.formNavBtns>button{
    color: white;
}

#signUpOptions>button{
    align-items: center;
    margin-top: 1vw;
    border-radius: 5px;
    height: 40px;
}
#google-btn{
    background-color: rgb(236, 236, 236);
    border: thin solid white;
}
.google-icon{
    background-image: url("images/Google.png");
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-width: 35px;
    height: 40px;
    padding: 0;
    margin: 0;
}
.google-text {
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 10px;
    
}
#google-btn:hover{
    background-color: rgb(119, 119, 119);
    color: white;;
}

/* Sign up with e-mail button */
.email-btn{
    color: white;
    background:$main-color;
    border: 1.5px solid white;
}
.email-btn:hover{
    background-color: white;
    color: rgb(87, 87, 87);;
}
.email-text {
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 40px;
}
input[type="text"], input[type="password"], input[type="email"]{
    height: 30px;
    font-size: 15px;
}