#formContainer{
    @include center;
    margin: 0;
    padding: 10vh 15vw;
    align-items: stretch;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
}
#signUpForm{
    @extend #formContainer;
    @include border-radius(20px);
    height: 100%;
    flex-direction: column;
    color: white;
    background-color: $main-color;
}

#signUpForm>button, #signUpForm>div>button{
    color: white;
    width: 45%;
}