@import "./SortActivity/sortActivity";
@import "./MatchActivity/matchActivity";
@import "./MultipleChoice/multipleChoice";
@import "./ShortAnswer/shortAnswer";
@import "./labelPictures/labelPictures";
@import "./NavActivityBtn/navActivityBtn";
.activity-body{
    @include no-space;
    min-height: 100vh;
}
.activity-type-container{
    margin-top: 100px;
    text-align: center;
}