
@import "./ControlledInputs/controlledMediaQueries";
@import "./LabelPictures/labelPicturesMediaQueries";
@import "./MatchActivity/matchActivityMediaQueries";
@import "./ShortAnswer/shortAnswerMediaQueries";
@import "./SortActivity/sortMediaQueries";

@mixin activity-lg{
    
}
@mixin activity-md {
    
}

@mixin activity-sm{
    .activity-type-container{
        padding: 0rem;
        margin-top: 4rem;
    }
    .activity-settings-pop-up-body{
        .settings-save-btn{
            padding: 0.5rem;
            font-size: 0.8rem;
        }
        .settings-body-row{
            font-size: 0.8rem;
            .settings-option-text{
                .settings-option-note{
                    font-size: 0.6rem;
                }
            }
        }
    }
    // .activities-settings-sidebar.secondary-sidebar-nav{
    //     max-width: unset;
    //     width: 100%;
    // }
    // .activities-settings-exit-sidebar-btn{
    //     right: calc(100% - 2.4rem);
    //     background-color: transparent;
    // }
}
@mixin activities-hover{
    .activity-navbar-exit-sidebar-btn:hover{
        transform: scale(1.05);
    }
    .activity-navbar-company-title{
        a:hover{
            opacity: 0.8;
        }
    }
    .activity-edit-btn{
        &:hover{
            transform: scale(1.1);
        }
    }
    .activity-edit-btn-dropdown{
        button{
            &:hover{
                background-color: rgb(0, 110, 255)
            }
        }
    }
    .activities-sidebar-btn{
        &:hover{
            transform: scale(1.1);
            color: $dark-blue;
            border: 1px solid $dark-blue;
            background-color: white;
        }
    }
    .activities-sidebar-table-btns{
        &:hover{
            background-color: $light-gray;
            .activities-question-circle-indicator{
                circle{
                    fill: $dark-blue;
                }
            }
        }
    }
    .activity-walkthrough-instructions-header{
        button:hover{
            background-color: rgb(219, 74, 74);
            transform: scale(1.1);
            line{
                stroke: $white;
            }
        }
    }
    .activity-reset-popup{
        .reset-popup-btn-container{
            .reset-cancel-btn:hover{
                background-color: $white;
                color: $dark-blue;
                border: 1px $dark-blue solid;
            }
        }
    }
    .nav-activity-btn:hover{
        @include activities-nav-navItems-hover;
        border: 1px solid $blue;
        color: $blue;
    }   
    .activity-settings-pop-up-header{
        .settings-exit-btn:hover{
            background-color: rgb(219, 74, 74);
            transform: scale(1.1);
            line{
                stroke: $white;
            }
        } 
    }
    .activity-settings-pop-up-body{
        .settings-save-btn:hover{
            background-color: $dark-blue;
        }
    }
}