@import "./SortActivity/sortActivity";
@import "./MatchActivity/matchActivity";
@import "./MultipleChoice/multipleChoice";
@import "./ShortAnswer/shortAnswer";
@import "./labelPictures/labelPictures";
@import "./NavActivityBtn/navActivityBtn";

.activity-body{
    @include no-space;
    min-height: 100vh;
    position: relative;
}
.active-activity-bg{
    @include no-space;
    @include anchor-top-left;
    @include fillContainer;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}
.activities-nav {
    padding: 0 2rem;
    height: 3rem;
    background-color: $main-color !important;
    .back-button-container {
        .back-button {
            height: 100%;
            font-size: .8rem;
            border: 1px white solid;
            color: $main-font-color;
            &:hover {
                @include hover-color;
            }
        }
    }
    .navbar-brand {
        font-size: 1rem !important;
    }
}

.activity-type-container{
    @include border-radius(25px);
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    min-height: 75vh;
    z-index: 1;
}
.nav-activity-btns{
    z-index: 1;
}
