@import "./ActivityComponents/ActivityOverviewPopUp/activityCreationPopUp";

$activity-creation-navbar-small-height: 2.5rem;
$activity-creation-navbar-height: 2.5rem; 
$activity-creation-question-header-height: 3.5rem;
$activity-creation-question-top-margin: 0.5rem;
$activity-creation-question-container-padding-top: 0.5rem;
.activity-creation-navbar{
    height: $activity-creation-navbar-height;
    .activity-navbar-visualum-logo{
        max-width: 1.7rem;
    }
    .activity-profile-avatar-container{
        width: 2rem;
        height: 2rem;
    }
}
.activity-creation-sidebar{
    top: calc(#{$activity-creation-navbar-height} - 0.1rem);
    height: calc(100vh - #{$activity-creation-navbar-height} - 0.1rem)
}
.activity-creation-nav-activity-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $activity-creation-navbar-height;
    padding: 0 0.5rem;
    width: max-content;
    padding-right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.activity-creation-nav-activity-name{
    //margin-top: 0.5rem;
    display: flex;
    height: 1.5rem;

    h1{
        cursor: pointer;
        margin: auto;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8rem;
        //font-size: 1rem;
    }
    button{
        @include remove-btn-default();
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $blue;
        font-size: 0.7rem;
        line-height: 0.9rem;
        margin-left: 0.3rem;
        span{
            margin-left: 0.2rem;
        }
    }
}

.activity-creation-nav-edit-options{
    position: absolute;
    bottom: 0;
    //margin-bottom: 0.2rem;
    .activity-edit-btn{
        padding-left: 0;
        span{
            //font-size: 0.8rem;
            font-size: 0.7rem;
            font-weight: 400;
        }
    }
    .activity-edit-dropdown-pointer{
        left: 0;
    }
}
.activity-creation-nav-preview-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    @include remove-btn-default();
    border: 1px solid $dark-blue;
    font-size: 0.9rem;
    color: $dark-blue;
    padding: 0.3rem 0.5rem;
    @include border-radius(0.3rem);
    height: 2rem;
    span{
        margin-left: 0.3rem;
    }
}
.activity-creation-nav-publish-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        @include remove-btn-default();
        background-color: $dark-blue;
        font-size: 0.9rem;
        color: $white;
        height: 2rem;
        
    }
    button:first-child{
        @include border-radius(0.3rem 0 0 0.3rem);
        padding: 0.3rem 0.5rem;
        span{
            margin-left: 0.3rem;
        }
    }
    button:last-child{
        font-size: 0.8rem;
        @include border-radius(0 0.3rem 0.3rem 0);
        border-left: 1px solid $dark-gray;
        padding: 0.3rem 0.4rem;
    }
}
.activity-creation-sidebar{
    z-index: 2;
}
.activity-creation-body{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    @include no-space;
    @include transition(all 0.4s ease-out);
    background-color: $lighter-gray;
    height: 100%;
    min-height: calc(max(100vh, 40rem));
    width: 100%;
}
.activity-creation-question-container{
    margin-top: $activity-creation-navbar-small-height;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    padding-top: $activity-creation-question-container-padding-top;
    padding-bottom: 0;
    @include transition(all 0.4s ease-out);
}

.activity-creation-question-container.move-left{
    left: calc(min(9.2rem, 148px));
    width: calc(100% - calc(min(9.2rem, 148px)));
}
.activity-creation-question-container.move-down{
    margin-top: $activity-creation-navbar-height;
}
.activity-creation-question{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    width: 100%;
}
.activity-creation-question-header{
    width: 100%;
    height: $activity-creation-question-header-height;
    background-color: black;
}
.activity-creation-question-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-top: $activity-creation-question-top-margin;
}
//will use variables defined above
@import "./SortActivity/sortActivityCreation";
