
.signup-form-container{
    @include center;
    align-items: stretch;
    margin: 0;
    padding: 10vh 15vw;
    min-height: 600px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
}
.form-signUpOptions {
    color: $main-font-color;
}
#signUpForm{
    @extend .signup-form-container;
    @include border-radius(20px);
    @include fillContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    color: $main-font-color;
}
#signUpForm.studentSignUpForm{
    background-color: $main-color;
    border: 1px solid $main-color;
}

#signUpForm.teacherSignUpForm{
    background-color: rgba(0, 0, 0, 0.568);
    border: 1px solid $main-font-color;
}

#signUpOptions{
    @include center;
    flex-direction: column;
}

#signUpOptions>button, .entry-email-btn{
    @include no-space;
    @include border-radius(5px);
    align-items: center;
    height: 40px;
    width: 183px;
}

//add .form-floating class and make sure label is below imput
//this creates new form floating labels
#signUpForm > div>.form-floating{
    color: $main-font-color;
}



