.info-btn-container{
    position: relative;
    width: 1rem;
    z-index: 3;
    font-size: 0;    
    button{
        @include remove-btn-default;
        z-index: 2;
        font-size: 1.2rem;
        line-height: 0;
        padding: 0;
        @include border-radius(10px)
    }
    .triangle-pointer-container{
        z-index: 3;
    }
}
