.MCInputContainer{
    margin-top: 15px;
    font-size: 0.9em;
}
.MCInputContainer label{
    cursor: pointer;
    height: 100%;
    padding: 10px 20px;
    transition: all 0.3s;
    color: $main-font-color;
    border: 1px $main-font-color solid;
    @include border-radius(5px)
}
.MCInputContainer label:hover{
    background-color: $main-font-color;
    color: $label-font-color;
}

.ansOptionItem{
    width: calc(50% - 10px);
    margin: 5px;
}
.MCInputContainer input[type="radio"]{
    @include hidden;
}
.MCInputContainer input[type="radio"]:checked + label{
    background-color: $main-font-color;
    color: $label-font-color;
}