.MCInputContainer{
    margin-top: 15px;
    font-size: 0.9em;
}
.MCInputContainer label{
    @include border-radius(5px);
    cursor: pointer;
    height: 100%;
    padding: 10px 20px;
    transition: all 0.3s;
    color: $main-font-color;
    border: 1px $main-font-color solid;
}
.MCInputContainer label:hover{
    background-color: $main-font-color;
    color: $label-font-color;
}

.MCInputContainer input[type="radio"]{
    @include hidden;
}
.MCInputContainer input[type="radio"]:checked + label{
    background-color: $main-font-color;
    color: $label-font-color;
}
.mc-answer-choice{
    margin: 5px;
}
.empty-mc-item{
    @extend .mc-answer-choice
}

.mc-activity-image{
    max-width: 70%;
    max-height: 50%;
    object-fit: contain;
    object-position: center;
}