.mc-activity-input-container{
    font-size: 0.8rem;
    @include border-radius(1rem);
    padding-bottom: 23px;
}

.mc-activity-question{
    font-size: 1rem;
    background-color: white;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 2px);
    @include border-radius(7px);
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.mc-activity-image-container{
    //position: relative;
    padding: 0.6rem;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 5px);
    @include border-radius(7px);
    background-color: $white;
    @include  transition(all 0.3s ease-out);
}

.mc-activity-image-container.portrait-mode{
    margin-bottom: 1rem;
    
}
.mc-activity-image-container.landscape-mode{
    margin-left: 2rem;
    max-width: 50%;
}
.mc-activity-image-container.zoomed-in{
    max-width: 90%;
    z-index: 3;
}
.mc-activity-image{
    height: 100%;
    width: 100%;
    max-height: calc(max(40vh, 300px));
    object-fit: contain;
    object-position: center;
    @include border-radius(7px);
    @include  transition(all 0.3s ease-out);
    &:hover{
        cursor: zoom-in;
    }
}
.mc-activity-image.zoomed-in{
    max-height: 85vh;
    &:hover{
        cursor: zoom-out;
    }
    //z-index: 10;
}
.mc-activity-answer-container{
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 2px);
    overflow-y: auto;
    overflow: overlay;
    overflow-x: hidden;
    min-width: 280px;
    max-width: 400px;
    max-height: calc(max(70vh, 24rem));
    height: 100%;
    background-color: $white;
    padding: 1rem;
    @include border-radius(7px);
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(1rem);
        background-color: $light-gray;
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
}
.mc-activity-answer-container.portrait-mode{
    max-width: 100%;
    max-height: calc(max(40vh, 24rem));
}

.mc-activity-mc-item{
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    min-height: 3.5rem;
    overflow-wrap: break-word;
    .mc-custom-radio-btn{
        position: absolute;
        left: 0.7rem;
        fill: transparent;
        stroke-width: 1.2;
        cursor: pointer;
    }
    .mc-radio-outer-circle{
        fill: transparent; 
        stroke: $dark-blue
    }
    .mc-answer-label{
        min-height: 3.5rem;
        @include border-radius(0.5rem);
        cursor: pointer;
        height: 100%;
        padding: 0.3rem 1.7rem;
        padding-right: 1rem;
        background-color: $light-blue;
        @include  transition(all 0.3s ease-out);
        @include box-shadow(rgba(0, 0, 0, 0.151) 0px 0 3px);
        border: 1px solid transparent;
    }
    .mc-answer-choice-group:hover{
        .mc-answer-label{
            background-color: $white;
        }
    }
    
    input[type="radio"]{
        @include hidden;
    }
    input[type="radio"]:checked + .mc-answer-choice-group{
        .mc-answer-label{
            border: 1px solid $dark-blue;
            background-color: $white;
        }
        .mc-radio-inner-circle{
            stroke: $dark-blue; 
            fill: $dark-blue;
        }
    }
}
.mc-activity-mc-item.grid-layout{
    width: 45%;
    margin: 0.5rem;
    .mc-answer-label{
        @include border-radius(0.5rem);
    }
}

