$nav-color: #041F54;
$highlight-color: #FF8000;

@mixin box-shadow-dash {
    box-shadow: 0 4px 11px rgba(33,33,33,.1);
}

@mixin card-hover {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 11px  rgba(33,33,33,.2); 
        h6 {
            color: $highlight-color !important;
        }
    }
}

@mixin card {
    height: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    h5 {
        font-size: .9rem;
    }
    h6 {
        font-size: .7rem;
        transition: color .25s ease-in-out;
    }
    p {
        font-size: .6rem;
    }
    @include box-shadow-dash();
    @include card-hover();
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    font-size: 1rem;
    background-color: rgb(248,248,255);
    width: 100%;
    display: flex;
    flex: 1;
    overflow: hidden;
    .dashboard-sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 180px;
        border-right: 1px solid rgba(179, 179, 179 ,.5);
        background-color: white;
        padding: .9rem 0;
        -webkit-box-shadow: 3px 1px 10px 7px rgba(0,0,0,0.1); 
        box-shadow: 3px 1px 10px 7px rgba(0,0,0,0.1);
        .sidebar-item {
            font-size: .75rem;
            width: 100%;
            height: 75px;
            @include center;
            padding: 1rem;
            cursor: pointer;
            .tab-button {
                padding: 5px 10px;
                width: 95%;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                &:hover {
                    transform: scale(1.05);
                }
                &:hover:not(.selected){
                    background-color: rgba(0,0,0,0.05);
                }
                transition: all .2s ease-in-out;
            }
            .selected {
                background-color: $highlight-color;
                color: white;
                font-weight: 700;
            }
            p {
                margin: 0;
            }
        }
    }
    .main-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        padding: .5rem 1.7rem;
        padding-bottom: 0;
    }
}

.dashboard-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    color: $nav-color;
    background-color: ghostwhite;
    // background-color: $nav-color !important;        
}

.dashboard-sidebar-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.dashboard-sidebar-name {
    display: inline;
    font-weight: 600;
    color: #041F54;
}

.dashboard-logo {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.back-button {
    font-size: .8rem;
    color: rgb(246, 246, 246);
    background-color:rgba(255, 255, 255, 0.219);
    &:hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

.card-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.card-container::-webkit-scrollbar {
    display: none;
}

.row-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.overview-card {
    @include card();
    min-height: 6rem;
    margin: auto;
    overflow: hidden;
}

.overview-card-feature {
    width: 100%;
    height: 20px;
    flex: 1;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.class-card {
    @include card();
}

.student-card {
    @include card();
    flex-direction: row;
    .icon {
        background-color: red;
        display: flex;
        flex: 0 0 auto;
        margin: auto 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.assignment-card {
    @include card();
}

.control-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    flex-shrink: 0;
    align-items: center;
    .buttons {
        display: flex;
        align-items: center;
        .button {
            margin-right: 10px;
            height: 1.8rem;
            font-size: .65rem;
            background-color: $nav-color;
        }
    }
    .search {
        display: flex;
        flex-grow: 1;
        height: 1.8rem;
        .input-group {
            height: 1.8rem !important;
            .input-group-text {
                height: inherit;
                font-size: .8rem;
            }
            .form-control {
                height: inherit !important;
            }
        }
    }
}

.activity-list {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
}

.activity-card {
    @include card();
    &:hover {
        .activity-type {
            color: $highlight-color !important;
        }
    }
    .activity-type {
        transition: .2s ease-in-out;
    }
    .activity-buttons {
        display: flex;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            width: 2rem;
            border-radius: .5rem;
            transition: background-color .125s ease-in-out;
            &:hover {
                background-color: rgb(228, 228, 228);
            }
        }
    }
}   

.card-half {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsable-sidebar {
    width: 15%;
    min-width: 200px;
}
.collapsed-sidebar {
    display: none;
}

.main-content-full {
    width: 100% !important;
}

.settings-page {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    @include box-shadow-dash();
    height: 96%;
}

.settings-module {
    padding: 1rem 0;
}

.avatar {
    width: 200px;
    height: 200px;
    background-color: red;
}

.dashboard-modal {
    $width: 65rem;
    $height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    margin-top: -($height/2);
    margin-left: -($width/2);
    width: $width;
    height: $height;
    background-color: white;
    padding: 2rem;
    @include box-shadow-dash();
    @media (max-width:70rem) {
        width: 95%;
        height: 90%;
        top: 5%;
        left: 2.5%;
        margin-top: 0;
        margin-left: 0;
    }
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
}