.dashboard-navbar{
	position: absolute;
	width: 100%;
	z-index: 100;
	background-color: white;
	height: 3.4rem;
	--tw-border-opacity: 1;
    border-color: rgba(210, 210, 214, var(--tw-border-opacity));
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

.dashboard-navbar-brand {
	display: flex;
	height: 100%;
	padding: .5rem 1rem;
	margin-left: 1rem;
	justify-content: center;
	align-items: center;
}

.dashboard-navbar-logo {
	height: 100%;
	margin-right: 0.5rem;
}

.dashboard-navbar-title {
	font-size: 1.3rem;
    font-weight: 600;
    color: rgb(8, 40, 109) ;
    line-height: 100%;
}