.navbar.home-page-nav{
    @include border-radius(0);
    @include fillContainer;
    @include transition(all 0.25s ease-out);
    padding: 30px 30px;
    padding-bottom: 0px;
    margin: 0;
    color: $main-font-color;
    border: none;
    z-index:3;
}
//when scrolled, padding is reduced to make navbar smaller
//vertical height when scrolled: vertical height when not scrolled:
.navbar.navbarScrollActive{
    padding: 5px 30px;
}
.navbar.navbarScrollActive.sidebar-close{
    background: $main-color;
}

.nav-brand {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0 2rem;
}

.nav-btn.home-page-nav{
    @include center;
    @include border-radius(10px);
    @include remove-btn-default;
    position: relative;
    color: $main-font-color;
    padding: 8px;
    text-align: center;
    font-size: 1em;
    transition: background-color ease-in-out 125ms;
    &:hover,
    &:active{
        @include hover-color;
    }
}

.nav-btn.home-page-nav>p{
    @include no-space;
    position: relative;
}

.nav-btn.home-page-nav{
    &:focus p::after,
    &:active p::after{
        position: absolute;
        content: "";
        width: calc(100% - 2px);
        left: 1px;
        bottom: -1.5px;
        height: 2px;
        background-color: $main-font-color;
    }
}

#search-box{
    padding: 0;
    align-self: stretch;
}

#search-bar{
    @include transition(width ease 0.3s);
    padding: 0;
    align-self: stretch;
    width: 0px;
    border: 0;
    height: 100%;
}

#search-bar.expand{
    @include transition(all width ease 0.3s);
    margin: 0 0.5rem 0 0;
    padding-left: 10px;
    border: 0px;
}

#search-icon{
    @include border-radius(5px);
    font-size: 20px;
}
/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left{
    @include transition(all ease 0.2s);
    padding-bottom: 2px;
    transform: rotate(180deg);
}
#search-btn{
    @include border-radius(5px);
    @include remove-btn-default;
    height: 100%;
    width: 50px;
}

#nav-toggler.home-page-nav{
    @include center;
    height: 40px;
    width: 40px;
}

#nav-toggler.home-page-nav, #search-btn{
    @include no-space;
}

#nav-icon.home-page-nav, #search-icon{
    @include center;
    @include fillContainer;
    @include transition(all 0.3s ease-out);
    color: $main-font-color;
}

#nav-icon:hover, #search-icon:hover{
    @include hover-color;
}

#nav-icon.home-page-nav.fa-arrow-down{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
}

#nav-icon.home-page-nav.fa-bars{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
    font-size: 28px;
}

/* this is to control the drop animation of navbar */
.home-page-nav.collapsing{
    @include transition(height 0.15s ease !important);
}

.user {
    @include center;
    @include border-radius(15px);
    @include transition(background-color 250ms ease-in-out);
    @include transition(text-shadow 125ms ease-in-out);
    border: none;
    color: $main-font-color;
    height: 100%;
    padding: 5px 10px;
    background-color: transparent;
    &:hover {
        background-color: rgba(0,0,0,.35);
        cursor: pointer;
    }
    &.navbarScrollActive {
        background-color: rgba(255,255,255,.3);
    }
}

.user-active {
    background-color: rgba(0,0,0,.35);
    // color: rgba(10, 10, 10, 0.75);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.user-student-name {
    padding: 0 0.5rem;
    font-weight: 500;
    transition: color ease-in-out 125ms;
}

.user-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include border-radius(15px);
    width: 15rem;
    padding: .7rem;
    position: absolute;
    background-color: rgba(0,0,0,.35);
    top: 70px;
    right: 30px;
    transition: top 250ms ease-out;
    &.navbarScrollActive {
        top: 50px;
        background-color: $main-color;
    }
}

.user-dropdown-button {
    @include border-radius(10px);
    @include center;
    @include transition(all 250ms ease-in-out);
    border: none;
    color: rgba(10, 10, 10, 0.75);
    width: 100%;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: .5rem;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        @include hover-color;
        cursor: pointer;
    }
}

.user-dropdown-text {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    font-weight: 500;
    width: 100%;
}

.user-dropdown-icon {
    color: white;
}

.dropdown-enter {
    opacity: 0;
    transform: scale(0.9);
}
.dropdown-enter-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 1;
    transform: translateX(0);
}
.dropdown-exit {
    opacity: 1; 
}
.dropdown-exit-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 0;
    transform: scale(0.9);
}