.navbar.home-page-nav{
    @include border-radius(0);
    @include fillContainer;
    @include transition(all 0.25s ease-out);
    padding: 30px 30px;
    padding-bottom: 0px;
    margin: 0;
    color: $main-font-color;
    border: none;
    z-index:3;
}
//when scrolled, padding is reduced to make navbar smaller
//vertical height when scrolled: vertical height when not scrolled:
.navbar.navbarScrollActive{
    padding: 5px 30px;
}
.navbar.navbarScrollActive.sidebar-close{
    background: $main-color;
}

.nav-brand {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0 3rem;
}

.nav-btn.home-page-nav{
    @include center;
    @include border-radius(10px);
    @include remove-btn-default;
    position: relative;
    color: $main-font-color;
    padding: 8px;
    text-align: center;
    font-size: 1em;
}

.nav-btn.home-page-nav{
    &:hover,
    &:active{
        @include hover-color;
    }
}

.nav-btn.home-page-nav>p{
    @include no-space;
    position: relative;
}

.nav-btn.home-page-nav{
    &:focus p::after,
    &:active p::after{
        position: absolute;
        content: "";
        width: calc(100% - 2px);
        left: 1px;
        bottom: -1.5px;
        height: 2px;
        background-color: $main-font-color;
    }
}

#search-box{
    padding: 0;
    align-self: stretch;
}

#search-bar{
    @include transition(width ease 0.3s);
    padding: 0;
    align-self: stretch;
    width: 0px;
    border: 0;
    height: 70%;
}

#search-bar.expand{
    @include transition(all width ease 0.3s);
    margin: 0 0.5rem 0 0;
    padding-left: 10px;
    border: 0px;
}

#search-icon{
    @include border-radius(5px);
    font-size: 20px;
}
/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left{
    @include transition(all ease 0.2s);
    padding-bottom: 2px;
    transform: rotate(180deg);
}
#search-btn{
    @include border-radius(5px);
    @include remove-btn-default;
    height: 70%;
    width: 50px;
}

#nav-toggler.home-page-nav{
    @include center;
    height: 40px;
    width: 40px;
}

#nav-toggler.home-page-nav, #search-btn{
    @include no-space;
}

#nav-icon.home-page-nav, #search-icon{
    @include center;
    @include fillContainer;
    @include transition(all 0.3s ease-out);
    color: $main-font-color;
}

#nav-icon:hover, #search-icon:hover{
    @include hover-color;
}

#nav-icon.home-page-nav.fa-arrow-down{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
}

#nav-icon.home-page-nav.fa-bars{
    @include transition(all ease 0.2s);
    transform: rotate(180deg);
    font-size: 28px;
}

/* this is to control the drop animation of navbar */
.home-page-nav.collapsing{
    @include transition(height 0.15s ease !important);
}

.user {
    @include center;
    @include border-radius(25px);
    @include transition(background-color 250ms ease-in-out);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: $main-font-color;
    height: 100%;
    padding: 5px 10px;
}

.user:hover {
    background-color: rgba(255, 255, 255, 0.267);
    cursor: pointer;
}

.user-active {
    background-color: rgba(255, 255, 255, 0.267);
}

.user-profile {
    @include center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: $main-font-color;
}

.user-icon {
    color: #271b53;
}

.user-reward {
    margin: 0 10px;
}

.user-reward-icon {
    margin-right: 5px;
    font-size: 1rem;
}

.user-dropdown {
    @include border-radius(15px);
    height: 310px;
    width: 440px;
    font-size: 0.9em;
    position: absolute;
    background-color:lighten($color: $bg-color, $amount: 10);
    top: 100px;
    display: flex;
}

.user-dropdown-panel {
    height: 100%;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-dropdown-panel-header {
    height: 1.2rem;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}

.user-dropdown-assignment {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-dropdown-connect {
    height: 60%;
    width: 100%;
}

.user-dropdown-connect>.user-dropdown-button{
    margin-top: 9.5px;
    margin-bottom: 9.5px;
}
.user-dropdown-buttons {
    height: 50%;
    width: 100%;
}
.user-dropdown-button {
    @include border-radius(15px);
    @include center;
    @include transition(all 250ms ease-in-out);
    border: none;
    color: $main-font-color;
    text-align: center;
    width: 90%;
    height: 38px;
    margin: 7.5px auto;
    padding: 10px;
    background-color:lighten($color: $bg-color, $amount: 2);
}
.user-dropdown-button:hover {
    @include hover-color;
    cursor: pointer;
}

.user-dropdown-social-icon {
    margin-right: 10px;
}

.dropdown-enter {
    opacity: 0;
    transform: scale(0.9);
}
.dropdown-enter-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 1;
    transform: translateX(0);
}
.dropdown-exit {
    opacity: 1; 
}
.dropdown-exit-active {
    @include transition(opacity 300ms, transform 300ms);
    opacity: 0;
    transform: scale(0.9);
}