@import "./Radio/radio";
@import "./Checkbox/checkbox";

$activity-container-height: calc(94vh - 2rem);
$activity-container-min-height: calc(40rem - 7vh - 2rem);
$mc-activity-container-height: calc(
    #{$activity-container-height} 
    - 3.6rem 
    - 23px
);
$mc-activity-container-min-height: calc(
    #{$activity-container-min-height} 
    - 3.6rem 
    - 23px
);

.controlled-inputs-activity-container{
    position: relative;
    font-size: 0.8rem;
    background-color: $white;
    padding: 1rem;
    @include border-radius(0.5rem);
    min-height: calc(max(#{$match-activity-container-height}, #{$match-activity-container-min-height}));
}
.controlled-inputs-activity-container::before{
    position: absolute;
    content: "";
    top: 1.5%;
    left: 1%;
    width: 98%;
    height: calc(98.5%);
    @include box-shadow(rgba(0, 0, 0, 0.425) 0px -2px 23px 2px);
    z-index: -1;
}
.controlled-inputs-activity{
    background-color: $lighter-blue;
    @include border-radius(0.5rem);
    padding: 1rem;
}
.controlled-inputs-activity-question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}
.controlled-inputs-activity-question{
    font-size: 0.9rem;
    background-color: white;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 2px);
    @include border-radius(7px);
    @include unselectable;
    padding: 0.5rem;

    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 1rem;
    width: 85%;
    max-width: 85%;
    max-height: calc(max(25vh, 200px));
    overflow: auto;
    overflow-x: hidden;
    @include activity-scrollbar-styles();

}
.controlled-inputs-activity-question.portrait-mode{
    width: 100%;
    max-width: 100%;
    max-height: none;
}
.controlled-inputs-activity-image-container{
    padding: 0.6rem;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 5px);
    @include border-radius(7px);
    background-color: $white;
    @include  transition(all 0.3s ease-out);
}

.controlled-inputs-activity-image-container.portrait-mode{
    margin-bottom: 1rem;
}
.controlled-inputs-activity-image-container.landscape-mode{
    max-width: 90%;
}
.controlled-inputs-activity-image-container.zoomed-in{
    max-width: 90%;
    z-index: 3;
}
.controlled-inputs-activity-image{
    height: 100%;
    width: 100%;
    max-height: calc(max(40vh, 300px));
    object-fit: contain;
    object-position: center;
    @include border-radius(7px);
    @include  transition(all 0.3s ease-out);
}
.controlled-inputs-activity-image.zoomed-in{
    max-height: 85vh;
}
.controlled-inputs-activity-answer-column{
    display: flex;
    justify-content: center;
    width: 45%;
}
.controlled-inputs-activity-answer-column.portrait-mode{
    width: 100%

}
.controlled-inputs-activity-answer-container{
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 2px);
    overflow-y: auto;
    overflow: overlay;
    overflow-x: hidden;
    min-width: 250px;
    max-width: 400px;
    max-height: calc(max(70vh, 24rem));
    height: 100%;
    background-color: $white;
    padding: 1rem;
    @include border-radius(7px);
    @include activity-scrollbar-styles();

}
.controlled-inputs-activity-answer-container.portrait-mode{
    padding: 0.5rem;
    max-width: 100%;
    max-height: calc(max(40vh, 24rem));
}