.switch-toggler-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right:0;
    font-size: 0.8rem;
    width: 5.5rem;
    .form-check-input{
        cursor: pointer;
        margin-left: 0;
        width: 3rem;
        height: 1.5rem;
    }
}
.switch-toggler-container.form-switch{
    padding: 0;
}