@mixin label-pic-activity-lg{
    .label-pic-activity-question-column{
        .label-pic-activity-draggables{
            //calculated based of col classes
            width: 74.2%;
        }
    }
    .label-pic-activity-droppables-placeholder{
        padding-left: 13.6% !important;
    }
}
@mixin label-pic-activity-md {
    .label-pic-activity-question-column{
        .label-pic-activity-draggables{
            width: 100%;
        }
    }
    .label-pic-activity-droppables-placeholder{
        padding: 0.5% !important;
    }
}
@mixin label-pic-activity-sm {
    .label-pic-activity-question-column{
        .label-pic-activity-draggables{
            width: 100%;
        }
    }
    
}