.labelPicApp{
    padding-top: 150px;
    color: white;
}

.labelPicApp img{
    min-width: 150px;
    width: 100%;
    height: 100%;
}
.imgContainer{
    position: relative;
}
.labelIndicators{
    position: absolute;
    border: 1px white solid;
}
.labelWordBankColumn{
    min-height: 100px;
    margin: 5px;
    padding: 2.5px;
}
.imgLabelContainer{
    @extend .labelWordBankColumn;
    min-height: 47px;
    border: 1px white solid;
}
.labelChoices{
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    min-height: 30px;
    border: 1px white solid;
    @include border-radius(5px)
}
.labelChoices p{
    @include no-space;
    color: white;
}
