.labelPicApp{
    padding-top: 150px;
    color: $main-font-color;
}

.labelPicApp img{
    min-width: 175px;
    @include fillContainer;
}
.imgIndicatorContainer{
    position: relative;
}
.labelIndicators{
    position: absolute;
    border: 1px $main-font-color solid;
}
.labelWordBankColumn{
    min-height: 100px;
    margin: 5px;
    padding: 2.5px;
    @include border-radius(6px)
}
.imgLabelContainer{
    @extend .labelWordBankColumn;
    min-height: 47px;
    border: 1px $main-font-color solid;
}
.labelChoices{
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    min-height: 30px;
    border: 1px $main-font-color solid;
    @include border-radius(5px)
}
.labelChoices p{
    @include no-space;
    color: $main-font-color;
}
