.label-pic-activity-container{
    padding-top: 150px;
    color: $secondary-font-color;
    background-color: blue;
    img{

    }
}

// .label-pic-activity-container img{
//     min-width: 175px;
//     @include fillContainer;
// }
.imgIndicatorContainer{
    position: relative;
}
.labelIndicators{
    position: absolute;
    border: 1px $main-font-color solid;
}
.labelWordBankColumn{
    @include border-radius(6px);
    min-height: 100px;
    margin: 5px;
    padding: 2.5px;
}
.imgLabelContainer{
    @extend .labelWordBankColumn;
    min-height: 47px;
    border: 1px $main-font-color solid;
}
.labelChoices{
    @include border-radius(5px);
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    min-height: 30px;
    border: 1px $main-font-color solid;
}
.labelChoices p{
    @include no-space;
    color: $main-font-color;
}
