@import "./labelPicturesBreakpoints";

@mixin label-pic-activity-draggable-styles {
    list-style-type: none;
    min-height: 4rem;
    height: 4rem;
    width: 100%;
    min-width: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    @include border-radius(5px);
    border: 1px solid rgba(0, 0,0,0);
    padding: 0.5rem;
    font-size: 0.75rem;
    background-color: $white;
    cursor: pointer;
    @include box-shadow(rgba(0, 0, 0, 0.082) 0px 5px 11px 0.1px);
    z-index: 2;
    margin-bottom: 0.7rem;
}
@mixin label-pic-activity-containers{
    position: relative;
    margin-top: 1.5rem;
    background-color: $light-blue;
    @include border-radius(7px);
    min-width: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
}
@mixin label-pic-activity-droppables{
    border: 1px solid rgba(0,0,0,0);
    flex-grow: 1;
    height: min-content;
    padding-bottom: 0.5rem;
}
@mixin label-pic-activity-inner-droppable {
    position: relative;
    list-style-type: none;
    padding: 0 0.25rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
    @include border-radius(7px);
    padding-top: 0.25rem;
    flex-grow: 1;
    min-height: 100%;
}

$activity-container-height: calc(94vh - 2rem);
$activity-container-min-height: calc(40rem - 7vh - 2rem);
$label-pic-activity-container-height: calc(#{$activity-container-height} - 3.6rem - 23px);
$label-pic-activity-container-min-height: calc(#{$activity-container-min-height} - 3.6rem - 23px);
$label-pic-column-min-height: calc(#{$label-pic-activity-container-min-height} - 2rem);
$label-pic-column-height: calc(#{$label-pic-activity-container-height} - 2rem);

.label-pic-activity-container{
    position: relative;
    padding: 1rem;
    background-color: $white;
    min-height: calc(max(#{$label-pic-activity-container-height}, #{$label-pic-activity-container-min-height}));
    @include border-radius(0.5rem);
}
.label-pic-activity-container.portrait-size{
    min-height: calc(max(calc(#{$label-pic-activity-container-min-height} * 2), calc(#{$label-pic-activity-container-height} * 2)));
}

.label-pic-activity-container::before{
    position: absolute;
    content: "";
    top: 5%;
    left: 1%;
    width: 98%;
    height: calc(95%);
    @include box-shadow(rgba(0, 0, 0, 0.425) 0px -2px 23px 2px);
    z-index: -1;
}

.label-pic-activity-column-titles{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 0.5rem;
    top:0;
    left: 0;
    height: 3.5rem;
    z-index: 3;
    background-color: $light-blue;
    color: $dark-blue;
}

.label-pic-activity-itemBank{
    @include label-pic-activity-containers();
    padding: 0 0.25rem;
    resize: vertical;
    min-height: $label-pic-column-min-height;
    height: $label-pic-column-height;
}

.label-pic-activity-itemBank-column-1,
.label-pic-activity-itemBank-column-2{
    background-color: rgba(0, 0,0,0);
    @include box-shadow(none);
    @include border-radius(7px);
    min-width: 150px;
    height: min-content;
    .label-pic-activity-itemBank-droppables{
        @include label-pic-activity-droppables()
    }
    .label-pic-activity-inner-droppable{
        @include label-pic-activity-inner-droppable()
    }
    .label-pic-activity-draggables{
        margin-top: 0;
    }
}
.label-pic-activity-itemBank.full-size{
    width: calc(100% / 3);
    min-width: 0;
    margin-top: 0;
    margin-right: 1.5rem;
    .label-pic-activity-itemBank-column-1{
        margin: 0;
        padding-left: 0.5rem;
        min-height: 100%;
    }
}

.label-pic-activity-question-container{
    min-width: 0;
    margin-top: 0;
    background-color: $light-blue;
    width: calc(100% * (2 / 3) - 1.5rem);
    min-height :calc(max(#{$label-pic-column-min-height}, #{$label-pic-column-height}));
    height: 100%;
    @include border-radius(7px);
    .label-pic-activity-column-titles{
        position: relative;
        @include border-radius(7px);
        padding-left: 0;
    }
    &::-webkit-scrollbar{
        width: 0rem;
        height: 0rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: transparent;
    }
}
.label-pic-activity-question-container.portrait-size{
    min-width: 280px;
    width: 100%;
}
.label-pic-activity-instructions-position{
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}

.label-pic-activity-instructions{
    color: $main-font-color;
    button{
        color: $dark-blue;
    }
    button:hover{
        color: $white;
        background: $black;
    }
    
    .triangle-pointer-container{
        background-color: $dark-blue;
        color: $white;
        left: -8.7rem;
        text-align: center !important;
    }

    .triangle-pointer{
        left: 8.7rem;
        top:  -0.5rem;
        border-bottom: 0.6rem solid $dark-blue;
    }
    .triangle-pointer-2{
        top:-0.55rem;
        left: 8.7rem;
    }
}
.label-pic-activity-img-container{
    margin-top: 0.2rem;
    padding: 0.5rem;
    background-color: $white;
    width: fit-content;
    max-width: 90%;
    min-width: 200px;
    overflow: hidden;
    @include box-shadow(rgba(0, 0, 0, 0.315) 0px 0 5px);
    @include transition(all 0.3s ease-out);
    @include border-radius(7px);
}
.label-pic-activity-img-container.zoomed-in{
    max-width: 90%;
    z-index: 3;
}

.label-pic-activity-image{
    height: 100%;
    width: 100%;
    max-height: calc(max(25vh, 150px));
    object-fit: contain;
    object-position: center;
    @include border-radius(7px);
    @include  transition(all 0.3s ease-out);
    &:hover{
        cursor: zoom-in;
    }
}
.label-pic-activity-image.zoomed-in{
    max-height: 85vh;
    &:hover{
        cursor: zoom-out;
    }
}
.label-pic-activity-question{
    background: $white;
    padding: 0.6rem;
    padding-right: 0.1rem;
    min-height: 5vh;
    height: 9vh;
    text-align: center;
    overflow: scroll;
    resize: vertical;
    overflow-x: hidden;
    @include border-radius(6px);
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
    h2{
        overflow-wrap: break-word;
        margin: auto;
        font-size: 0.85rem;
    }
}
.label-pic-activity-droppables-placeholder{
    position: relative;
    padding-left: 13.9% !important;
    &:after{
        content: "Drag Answers Here";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        opacity: 0.5;
        font-weight: 500;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.label-pic-activity-question-column{
    @include label-pic-activity-containers();
    min-width: 0;
    height: 16vh;
    min-height: 6.5rem;
    margin-top: calc(max(1vh, 0.5rem));
    padding: 0.5rem;
    padding-right:0;
    background-color: $white;
    resize: vertical;
    .label-pic-activity-question-droppables{
        @include label-pic-activity-droppables();
        padding: 0;
    }
    .label-pic-activity-inner-droppable{
        @include label-pic-activity-inner-droppable();
    }
}
.label-pic-activity-question-nav-btns{
    display: flex; 
    button{
        position: relative;
        @include remove-btn-default();
        color: $white;
        //background-color: $purple;
        background-color: $dark-blue;
        padding: 0.25rem 0.4rem;
        margin: 0 0.15rem;
        border: 1px solid transparent;
        @include center();
        @include border-radius(5px);
        @include transition(all 0.3s ease-out);
    }
    button:hover{
        transform: scale(1.1);
        //color: $purple;
        color: $dark-blue;
        background-color: $white;
        //border: 1px solid $purple;
        border: 1px solid $dark-blue;        
    }
    
    .label-pic-activity-nav-btn-placeholder{
        padding: 0.25rem calc(0.4rem + (0.625em / 2));
        margin: 0 0.15rem;
        border: 1px solid transparent;
    }
}
.label-pic-activity-question-nav-left,
.label-pic-activity-question-nav-right{
    position: relative;
    z-index: 1;
    .question-nav-pointer-container{
        top: calc(-100% - 1.5rem);
        left: -4.3rem;
        background-color: $dark-blue;
        .triangle-pointer-down{
            border-top: 0.6rem solid $dark-blue;
        }
    }
    .triangle-pointer-container{
        animation: none;
    }
}
.label-pic-question-num-indicator{
    margin-left: 0.25rem;
    @include border-radius(1rem);
    background-color: $dark-blue;
    color: $white;

    font-size: 0.75rem;
    min-width: 2rem;
    span{
        margin: 0;
        padding: 0 0.2rem;
        line-height: 0;
    }
}

.label-pic-activity-draggables{
    @include label-pic-activity-draggable-styles();

    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
        background-color: rgba(201, 201, 201, 0);
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
    div{
        margin: auto;
        width: 100%;
        @include transition(transform 0.2s ease-out);
        @include unselectable;
    }

}

.label-pic-activity-dragging{
    background-color: $light-blue;
    border: 1px solid $black;
}

.label-pic-activity-inner-droppable.label-pic-activity-draggable-over{
    background-color: $darkest-gray;
}
.label-pic-activity-tap-active:hover{
    cursor: pointer;
    background-color: $darkest-gray;
}

.label-pic-question-header{
    margin: 2.5% 0;
    .label-pic-answers-overview-btn{
        @include remove-btn-default();
        @include border-radius(0.3rem);
        @include transition(ease-in 0.2s all);
        font-size: 0.8rem;
        background-color: $dark-blue;
        color: $white;
        padding: 0.2rem 0.5rem;
        border: 1px solid transparent;
    }
    .label-pic-answers-overview-btn:hover{
        transform: scale(1.05);
        background-color: $white;
        color: $dark-blue;
        border: 1px solid $dark-blue;
    }
}

.label-pic-question-caro-indicators{
    margin: 2% 0;
    button{
        @include remove-btn-default();
        @include border-radius(1rem);
        //border: 1px solid $purple; 
        border: 1px solid $dark-blue; 
        margin: 0.2rem;
        font-size: 0;
        padding: 0;
        height: 0.8vh;
        width: 0.8vh;
        min-height: 0.65rem;
        min-width: 0.65rem;
        @include transition(all ease-in 0.2s)
    }
    button.question-active{
        //background-color: $purple;
        background-color: $dark-blue;
        transform: scale(1.2);
    }
    button:hover{
        //background-color: $purple;
        background-color: $dark-blue;
        transform: scale(1.2);
    }
}

//pop answer overview styles
.label-pic-answers-overview-container{
    background-color: #f2f9ff;
    height: 85vh;
    z-index: 3;
    @include border-radius(7px);
}
.label-pic-answer-overview-header{
    padding-left: 1.5rem;
    padding-right: 0.8rem;
    height: 3.7rem;
    background-color: rgba(236, 236, 236, 0.822);
    color: $black;

    @include border-radius(7px 7px 0 0);
    position: relative;
    h1{
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    button{
        position: absolute;
        right: 0.8rem;
        @include remove-btn-default;
        height: 1.7rem;
        width: 1.7rem;
        @include border-radius(5px);
        font-size: 1.3rem;
        color: rgba(122, 122, 122, 0.431);
        @include transition(all 0.2s linear)
    }
    button:hover{
        background-color: rgb(185, 0, 0);
        color: white;
        transform: scale(1.1)
    }
}
.label-pic-answer-overview-body{
    padding-left: 3% ;
    padding-right: calc(3% - 0.5rem);
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 2%;
    margin-bottom: 0;
    height: 100%;
    &::-webkit-scrollbar{
        width: 0.5rem;
        @include border-radius(7px);
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        @include border-radius(7px);
        background-color: $dark-blue;
    }
    ol{
        padding: 0;
    }
}
.label-pic-answer-overview-card{
    width: 30%;
    min-width: 11rem;
    list-style-position: inside;
    min-height: 20vh;
    padding: 0;
    margin: 0.4rem;
    box-shadow: 0 4px 11px rgba(33,33,33,.1);
    @include border-radius(0.4rem);
    background-color: $white;
    @include transition(all 0.2s ease-in);
    button{
        @include remove-btn-default();
        padding: 0.8rem;
        height: 100%;
    };
    .overview-card-question-header{
        max-height: 10vh;
        min-height: 1.12rem;
        display: flex;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0;
        &::-webkit-scrollbar{
            width: 0.5rem;
            @include border-radius(7px);
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            @include border-radius(7px);
            background-color: $dark-blue;
        }
        h2{
            line-height: 1.1rem;
            width: 100%;
            height: 100%;
            text-align: start;
            font-size: 0.9rem;
            margin: 0;
        }
    }
    
    &:hover{
        cursor: pointer;
        transform: translateY(-0.3rem);
    }
}
.label-pic-answer-overview-answers{
    text-align: start;
    font-size: 0.75rem;
    color: $darkest-gray;
    font-weight: 500;
    min-height: fit-content;
    padding-left: 0.75rem;
    li{
        margin-bottom: 0.4rem;
    }
    li:last-child{
        margin-bottom: 0;
    }
}

//question transition classes
.label-pic-question-transition-container{
    position: relative;
}

.label-pic-question-move-left-enter{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: -100%;
    transform: translateX(-100%); 
}
.label-pic-question-move-left-enter-active{
    opacity: 1;
    left: 0;
    transform: translateX(0)
}

.label-pic-question-move-left-exit{
    opacity: 1;
    transform: translateX(0);
}
.label-pic-question-move-left-exit-active{
    opacity: 0;
    transform: translateX(100%);
}
.label-pic-question-move-right-enter{
    @extend .label-pic-question-move-left-enter;
    left: 0;
    transform: translateX(100%);
}
.label-pic-question-move-right-enter-active{
    opacity: 1;
    transform: translateX(0);
}

.label-pic-question-move-right-exit{
    opacity: 1;
    transform: translateX(0);
}

.label-pic-question-move-right-exit-active{
    opacity: 0;
    transform: translateX(-100%);
} 