.tilesMatchedMessage{
    color: white;
}
.matchInstruction{
    color: white;
    font-size: 1.7em;
    margin: 0;
}
.gridLayout{
    margin-top: 10px;
}
.gridTiles{
    cursor: grab;
    color: white;
    min-height: 150px;
    padding: 0px 5px;
    margin: 5px;
    border: 1px white solid;
    @include border-radius(5px);
}
.gridTiles:hover, .gridTiles.hover{
    background-color: white;
    color: black;
}

.gridTiles.active, .gridTiles:active{
    pointer-events: none;
    background-color: rgba(255,255,255,0.60);
    color: black;
    z-index:2;
    border: 1px rgb(39, 39, 39) solid;
}

.gridTiles p{
    @include no-space;
}
.emptyTile{
    min-height: 150px;
    padding: 0px 5px;
    margin: 5px;
}
.match-activity-timer{
    position: relative;
    color: white;
}
.match-activity-timer .timer-counter{
    @include border-radius(10px);
    text-align: center;
    position: relative;
    color: black;
    margin-left: 7px;
    margin-right: 2px;
    padding: 3px 0px;
    font-size: 12px;
    overflow: hidden;
    z-index: 1;
    min-width: 70px;
}
.match-activity-timer .timer-counter:before{
    @include border-radius(10px);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px white;
    filter: blur(3.5px);
}
.match-activity-timer button{
    font-size: 12px;
    color: white;
    background: none;
    border: none;
}
