/* text font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
.navbar {
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  margin: 0;
  color: white;
  border: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 3;
}

.navbarScrollActive {
  background: rgba(107, 97, 144, 0.8);
  padding: 6px 30px;
}

.navbar a {
  color: white;
}

.companyTitle {
  font-size: 1.6em;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  width: 20vw;
}

.nav-item {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
}

.nav-link:hover {
  background: white;
  color: #271b53;
}

/*spacing around nav elements i.e links and search bar */
#navbarSupportedContent {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#signOut-btn, #signIn-btn {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.signout-btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#search-box {
  padding: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#search-bar {
  padding: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 0px;
  border: 0;
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
}

#search-bar.expand {
  margin: 0 0.5rem 0 0;
  padding-left: 10px;
  border: 0px;
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
}

#search-icon {
  font-size: 20px;
  border-radius: 5px;
}

#search-icon:hover {
  background: white;
  color: #271b53;
}

/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  padding-bottom: 2px;
}

#search-btn {
  height: 100%;
  width: 50px;
}

#search-btn:hover {
  background: white;
  color: #271b53;
}

#search-btn.border {
  -webkit-box-shadow: 1px 1px 0 0 white,  0 0px 0 1px white;
          box-shadow: 1px 1px 0 0 white,  0 0px 0 1px white;
}

#nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
}

#nav-button, #search-btn {
  margin: 0;
  padding: 0;
}

#nav-icon, #search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}

#nav-icon:hover {
  background: white;
  color: #271b53;
}

#nav-icon.fa-arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

#nav-icon.fa-bars {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 28px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

/* this is to control the drop animation of navbar */
.collapsing {
  -webkit-transition: height 0.15s ease !important;
  transition: height 0.15s ease !important;
}

.homePage {
  position: relative;
  text-align: justify;
  padding: 200px 10vw;
  padding-top: 200px;
  margin: 0;
  height: 80%;
  width: 100%;
  z-index: 1;
}

.homePageImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #090322;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.homePageText {
  color: white;
}

.introContainer {
  color: white;
  text-align: left;
  padding-left: 3vw;
}

.introContainer h2 {
  width: 30vw;
  font-family: 'Bitter', serif;
  font-weight: 700;
}

.introContainer p {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.introContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introContainer button > span {
  padding-left: 10px;
  font-size: 1.3em;
}

#formContainer, #signUpForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 10vh 15vw;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 600px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
}

#signUpForm {
  min-height: 520px;
  padding: 0 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: white;
}

#signUpForm.studentSignUpForm {
  background-color: rgba(107, 97, 144, 0.8);
  border: 1px solid rgba(107, 97, 144, 0.8);
}

#signUpForm.teacherSignUpForm {
  background-color: rgba(0, 0, 0, 0.568);
  border: 1px solid white;
}

.formNavBtns > button {
  background-color: #0e050f09;
  border: 1px solid white;
  color: white;
}

.formTypeBtns > button {
  color: white;
}

.formTypeBtns > button.active {
  color: #592a80;
  background-color: white;
}

.formTypeBtns > .student {
  margin-right: 1vw;
  border: 1px solid white;
}

.formTypeBtns > .teacher {
  margin-left: 1vw;
  background-color: black;
}

.formNavBtns > button:hover, .formTypeBtns > button:hover {
  background-color: white;
  border: 1px solid white;
  color: #592a80;
}

#signUpOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#signUpOptions > button {
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 40px;
  width: 183px;
}

#google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.g_id_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Sign up with e-mail button */
.email-btn {
  background-color: #ececec;
  border: 1.5px solid white;
}

.email-btn:hover {
  background-color: #777777;
  color: white;
}

.email-text {
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  height: 40px !important;
  font-size: 14px;
  -moz-appearance: textfield;
}

.form-select {
  height: 40px;
  font-size: 13px;
}

#signUpForm > div > .form-floating {
  color: black;
}

.form-floating > label {
  padding: 0.6rem;
  color: black;
  font-size: 13px;
  -webkit-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.form-control:focus ~ label,
.form-control:not(:placeholder-shown) ~ label,
.form-select ~ label {
  opacity: 0.9;
  -webkit-transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
          transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.code-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.code-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.code-inputs > input {
  border-radius: 5px;
  margin: 1vw 0.5vw;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 40px;
}

.code-label {
  text-align: center;
}

#copyright {
  padding: 0;
  margin: 0;
}

.foot-link {
  color: white;
  text-align: center;
  width: 60%;
}

.foot-link:hover {
  background: white;
  color: #271b53;
  border-radius: 5px;
}

#footer > div > h5 {
  color: white;
}

@media (min-width: 992px) {
  #nav-button, #nav-icon {
    display: none;
    visibility: hidden;
    position: absolute;
  }
  #search-box {
    margin-left: 1.7rem;
  }
  #search-bar.expand {
    width: 150px;
    -webkit-transition: width ease 0.3s;
    transition: width ease 0.3s;
  }
  .signout-btn {
    margin-left: 1.7rem;
  }
  .nav-item {
    width: 8%;
  }
  #formContainer, #signUpForm {
    padding: 10vh 18vw;
  }
  .formNavBtns > button, .formTypeBtns > button {
    font-size: 120%;
    width: 35%;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background: rgba(107, 97, 144, 0.8);
  }
  #search-box {
    margin-top: 0.7rem;
  }
  #search-btn {
    height: 50px !important;
  }
  #search-bar {
    height: 50px !important;
  }
  #search-bar.expand {
    width: calc(100% - 60px);
    height: 50px;
  }
  .nav-item {
    width: 100%;
    height: 100%;
  }
  .nav-link:hover {
    background: white;
    color: #271b53;
    border-radius: 5px;
  }
  #formContainer, #signUpForm {
    padding: 10vh 15vw;
  }
  .formNavBtns > button, .formTypeBtns > button {
    font-size: 120%;
    width: 40%;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 1.5em !important;
  }
  #formContainer, #signUpForm {
    padding: 10vh 10vw;
  }
  .formNavBtns > button, .formTypeBtns > button {
    font-size: 95%;
    width: 45%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 600px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.App {
  position: relative;
  height: 100vh;
  background-color: #090322;
  background-image: url("images/eureka_1.jpg");
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */