.nav-activity-btns{
    max-width: 840px;
}
.navActivityBtn{
    @include border-radius(5px);
    color: $main-font-color;
    background-color: rgba(0,0,0,0);
    padding: 5px 20px;
    margin: 20px 0;
    border: 1px $main-font-color solid;
}
.navActivityBtn:hover{
    @include hover-color
}