@import "./utilities/assignmentItem/assignmentItem";
@import "./utilities/classBanner/classBanner";
@import "./utilities/classHeader/classHeader";
@import "./utilities/assignmentGroupWrapper/assignmentGroupWrapper";
@import "./utilities/classStoreItem/classStoreItem";
@import "./utilities/filterList/filterList";
// @import "./utilities/listItemWrapper/listItem";
.class-page-overall-header-nav-link{
    height: 3rem;
}

.classes-nav {
    height: 70px;
    width: 100%;

    .navbar-brand {
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

.classes-page {
    padding-top: 65px;
}