@mixin class-page-lg {
    
}
@mixin class-page-md {
    .reward-store-item{
        width: 80%;
    }
    .classroom-banner-body{
        flex-direction: column;
        .classroom-banner-class-goals:not(:first-child){
            margin-top: 3rem;
        }
    }
}
@mixin class-page-sm {
    .reward-store-item{
        width: 95%;
    }
}