@mixin sort-activity-hover {
    .sort-activity-draggables{
        &:hover{
            cursor: grab;
            background-color: rgb(255, 218, 77);
            border: 1px solid $dark-gray;
        }
    }
    .sort-activity-tap-active:hover{
        cursor: pointer;
        background-color: $darkest-gray;
    }
}