.navbar {
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 30px 30px;
  margin: 0;
  color: white;
  border: none;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 3;
}

.navbarScrollActive {
  padding: 5px 30px;
}

.navbarScrollActive.sidebar-close {
  background: rgba(107, 97, 144, 0.8);
}

.companyTitle {
  font-size: 1.6em;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-right: 30px;
}

.nav-btn {
  color: white;
  background: none;
  border: none;
  padding: 8px;
  text-align: center;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.267);
  color: white;
}

.nav-btn:active {
  color: white;
}

.nav-btn:visited {
  color: white;
}

#signOut-btn, #signIn-btn {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.signout-btn {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

#search-box {
  padding: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

#search-bar {
  padding: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 0px;
  border: 0;
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
  height: 70%;
}

#search-bar.expand {
  margin: 0 0.5rem 0 0;
  padding-left: 10px;
  border: 0px;
  -webkit-transition: all width ease 0.3s;
  transition: all width ease 0.3s;
}

#search-icon {
  font-size: 20px;
  border-radius: 5px;
}

/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left {
  padding-bottom: 2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#search-btn {
  background: none;
  border: none;
  height: 70%;
  width: 50px;
  border-radius: 5px;
}

#nav-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
}

#nav-toggler, #search-btn {
  margin: 0;
  padding: 0;
}

#nav-icon, #search-icon {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#nav-icon:hover, #search-icon:hover {
  background: rgba(255, 255, 255, 0.267);
  color: white;
}

#nav-icon.fa-arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#nav-icon.fa-bars {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 28px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

/* this is to control the drop animation of navbar */
.collapsing {
  -webkit-transition: height 0.15s ease !important;
  transition: height 0.15s ease !important;
}

.user {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 5px 10px;
  border-radius: 25px;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.user:hover {
  background-color: rgba(255, 255, 255, 0.267);
  cursor: pointer;
}

.user-active {
  background-color: rgba(255, 255, 255, 0.267);
}

.user-profile {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-icon {
  color: #271b53;
}

.user-reward {
  margin: 0 10px;
}

.user-reward-icon {
  margin-right: 5px;
  font-size: 1rem;
}

.user-dropdown {
  height: 310px;
  width: 440px;
  font-size: 0.9em;
  position: absolute;
  background-color: #150751;
  border-radius: 15px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-dropdown-panel {
  height: 100%;
  width: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-dropdown-panel-header {
  height: 1.2rem;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

.user-dropdown-assignment {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-dropdown-connect {
  height: 60%;
  width: 100%;
}

.user-dropdown-connect > .user-dropdown-button {
  margin-top: 9.5px;
  margin-bottom: 9.5px;
}

.user-dropdown-buttons {
  height: 50%;
  width: 100%;
}

.user-dropdown-button {
  border: none;
  color: white;
  text-align: center;
  width: 90%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7.5px auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #0b042b;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.user-dropdown-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.267);
  color: white;
}

.user-dropdown-social-icon {
  margin-right: 10px;
}

.dropdown-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.dropdown-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 300ms, transform 300ms;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 300ms, transform 300ms;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.sidebar-nav {
  z-index: 4;
  height: 100vh;
  width: 560px;
  background: rgba(1, 14, 99, 0.582);
}

.sidebar-dark-bg {
  border: none;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.685);
}

.sidebar-right {
  left: 0px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar-left {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar-bg-show {
  display: inline;
}

.sidebar-bg-hide {
  display: none;
}

.stars {
  min-height: 200px;
  position: absolute;
  width: 100%;
  height: 27vh;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.homePage {
  position: relative;
  text-align: justify;
  padding: 0 10vw;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0;
  height: 100vh;
  min-height: 550px;
  width: 100%;
  z-index: 1;
}

.homePageImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #090322;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

.homePageText {
  color: white;
}

.introContainer {
  position: relative;
  color: white;
  text-align: center;
  padding-left: 3vw;
  padding: 30px;
  min-width: 250px;
  width: 35vw;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.342);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.342);
  z-index: 1;
  background: rgba(6, 29, 80, 0.383);
  overflow: hidden;
}

.introContainer:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px #061d50;
          box-shadow: inset 0 0 2000px #061d50;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.introContainer h2 {
  width: 30vw;
  font-family: "Bitter", serif;
  font-weight: 700;
}

.introContainer p {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.introContainer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 50px;
}

.introContainer button > span {
  padding-left: 10px;
  font-size: 1.2em;
}

.introContainer button > p {
  font-size: 0.8em;
}

#home-enter-code > input[type=number] {
  width: 110px;
}

#home-enter-code > label {
  border: none !important;
  font-size: 14px;
  -webkit-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#home-enter-code > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.9;
  transform: scale(0.7) translateY(-10px) translateX(2px) !important;
}

#home-enter-code > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.9;
  transform: scale(0.7) translateY(-10px) translateX(2px) !important;
}

#home-enter-code > .form-control:focus ~ label,
#home-enter-code > .form-control:not(:placeholder-shown) ~ label,
#home-enter-code > .form-select ~ label {
  opacity: 0.9;
  -webkit-transform: scale(0.7) translateY(-10px) translateX(2px) !important;
          transform: scale(0.7) translateY(-10px) translateX(2px) !important;
}

.home-explore-link {
  color: white;
  justify-self: end;
}

.home-explore-link:hover {
  color: #aaa9a9;
}

.home-explore-link > p {
  display: inline;
  margin: 0;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 10vh 15vw;
  min-height: 600px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
}

#signUpForm, #loginForm {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10vw;
  width: 100%;
  height: 100%;
  color: white;
}

#signUpForm.studentSignUpForm, .studentSignUpForm#loginForm {
  background-color: rgba(107, 97, 144, 0.8);
  border: 1px solid rgba(107, 97, 144, 0.8);
}

#signUpForm.teacherSignUpForm, .teacherSignUpForm#loginForm {
  background-color: rgba(0, 0, 0, 0.568);
  border: 1px solid white;
}

.formNavBtns > button {
  width: 100%;
  background-color: #0e050f09;
  border: 1px solid white;
  color: white;
}

.formTypeBtns > button {
  color: white;
}

.formTypeBtns > button.active {
  color: #592a80;
  background-color: white;
}

.formTypeBtns > .student {
  margin-right: 1vw;
  border: 1px solid white;
}

.formTypeBtns > .teacher {
  margin-left: 1vw;
  background-color: black;
}

.formNavBtns > button:hover, .formTypeBtns > button:hover {
  background-color: white;
  border: 1px solid white;
  color: #592a80;
}

#signUpOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#signUpOptions > button, .email-btn {
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 40px;
  width: 183px;
}

.google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.g_id_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Sign up with e-mail button */
.email-btn {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #ececec;
  border: 1.5px solid white;
}

.email-btn:hover {
  background-color: #777777;
  color: white;
}

.email-text {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  height: 50px !important;
  font-size: 14px;
  -moz-appearance: textfield;
}

.logSignForm.form-select {
  height: 40px;
  font-size: 13px;
}

#signUpForm > div > .form-floating, #loginForm > div > .form-floating {
  color: black;
}

.logSignForm.form-floating > label {
  padding: 0.6rem;
  color: black;
  font-size: 14px;
  padding-top: 14px;
  -webkit-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.logSignForm.form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.9;
  transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.logSignForm.form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.9;
  transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.logSignForm.form-control:focus ~ label,
.logSignForm.form-control:not(:placeholder-shown) ~ label,
.logSignForm.form-select ~ label {
  opacity: 0.9;
  -webkit-transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
          transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.code-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.code-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.code-inputs > input {
  border-radius: 5px;
  margin: 1vw 0.5vw;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 30px;
}

.code-label {
  text-align: center;
}

.form-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  width: 70%;
  height: 75%;
  background-color: rgba(89, 42, 128, 0.65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.form-signUpOptions {
  color: white;
}

.form-check {
  color: white;
}

#copyright {
  padding: 0;
  margin: 0;
}

.foot-link {
  color: white;
  text-align: center;
  width: 60%;
}

.foot-link:hover {
  background: rgba(255, 255, 255, 0.267);
  color: white;
  border-radius: 5px;
}

#footer > div > h5 {
  color: white;
}

.sortActivityApp {
  min-height: 100vh;
  padding-top: 150px;
}

.instructions {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 2%;
  padding: 0;
}

.draggableAreaContainer {
  padding: 10px 10px 10px 0;
  width: 100%;
  overflow-x: auto;
}

.draggableAreaContainer::-webkit-scrollbar {
  height: 9px;
}

.draggableAreaContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.sortArea, .answerArea {
  height: 100%;
  border: 1px solid white;
  font-size: 1.2rem;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  margin-top: 0;
  list-style-type: none;
  border-radius: 10px;
}

.sortArea p, .answerArea p {
  color: white;
  margin: 0;
  padding: 0;
}

.sortDropContainer, .answerDropContainer {
  width: 20vw;
  min-width: 150px;
  min-height: 200px;
  border-top: 1px white solid;
  list-style-type: none;
}

.answerArea {
  margin: 0;
  padding: 0;
  margin-right: 2.5%;
  height: auto;
}

.answerDropContainer {
  margin: 0;
  padding: 0;
}

.dragItem {
  text-align: center;
  width: 90%;
  font-size: 0.9rem;
  color: white;
  list-style-type: none;
  margin: 5px 1vw;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
}

.dragItem:hover {
  background-color: white;
  color: black;
}

.dragItem:active {
  background-color: white;
  color: black;
}

.matchActivityApp {
  min-height: 100vh;
  padding-top: 150px;
}

.tilesMatchedMessage {
  color: white;
}

.matchInstruction {
  color: white;
  font-size: 1.7em;
  margin-bottom: 50px;
}

.gridLayout {
  width: 100%;
}

.gridTiles {
  cursor: -webkit-grab;
  cursor: grab;
  color: white;
  min-height: 150px;
  padding: 0px 20px;
  margin: 5px;
  border: 1px white solid;
  border-radius: 5px;
}

.gridTiles:hover {
  background-color: white;
  color: black;
}

.gridTiles:active {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  z-index: 2;
  border: 1px #272727 solid;
}

.gridTiles p {
  margin: 0;
  padding: 0;
}

.emptyTile {
  min-height: 150px;
  padding: 0px 20px;
  margin: 5px;
}

.multipleChoiceApp {
  min-height: 100vh;
  padding-top: 150px;
}

.MCInputContainer {
  margin-top: 15px;
  font-size: 0.9em;
}

.MCInputContainer label {
  cursor: pointer;
  height: 100%;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border: 1px white solid;
  border-radius: 5px;
}

.MCInputContainer label:hover {
  background-color: white;
  color: black;
}

.ansOptionItem {
  width: 48%;
  margin: 1%;
}

.MCInputContainer input[type=radio] {
  display: none;
}

.MCInputContainer input[type=radio]:checked + label {
  background-color: white;
  color: black;
}

.shortAnswerApp {
  min-height: 100vh;
  padding-top: 150px;
}

.SAInputContainer {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.SAInputContainer > textarea {
  min-height: 200px;
}

.labelPicApp {
  padding-top: 150px;
  color: white;
}

.labelPicApp img {
  min-width: 175px;
  width: 100%;
  height: 100%;
}

.imgIndicatorContainer {
  position: relative;
}

.labelIndicators {
  position: absolute;
  border: 1px white solid;
}

.labelWordBankColumn, .imgLabelContainer {
  min-height: 100px;
  margin: 5px;
  padding: 2.5px;
  border-radius: 6px;
}

.imgLabelContainer {
  min-height: 47px;
  border: 1px white solid;
}

.labelChoices {
  cursor: pointer;
  margin: 5px 0;
  width: 100%;
  min-height: 30px;
  border: 1px white solid;
  border-radius: 5px;
}

.labelChoices p {
  margin: 0;
  padding: 0;
  color: white;
}

.navActivityBtn {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 20px;
  margin: 50px 0;
  border: 1px white solid;
  border-radius: 5px;
}

.navActivityBtn:hover {
  background: rgba(255, 255, 255, 0.267);
  color: white;
}

@media (min-width: 992px) {
  #nav-button, #nav-icon {
    display: none;
    visibility: hidden;
    position: absolute;
  }

  #search-box {
    margin-left: 1.7rem;
  }

  #search-bar.expand {
    width: 150px;
    -webkit-transition: width ease 0.3s;
    transition: width ease 0.3s;
  }

  .signout-btn {
    margin-left: 1.7rem;
  }

  .nav-item {
    width: 8%;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 18vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    font-size: 120%;
    width: 35%;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 30px 25px !important;
    background: rgba(107, 97, 144, 0.8);
  }

  #search-box {
    margin-top: 0.7rem;
  }

  #search-btn {
    height: 50px !important;
  }

  #search-bar {
    height: 50px !important;
  }

  #search-bar.expand {
    width: calc(100% - 60px);
    height: 50px;
  }

  .nav-item {
    height: 100%;
    width: 100%;
  }

  .nav-link:hover {
    background: rgba(255, 255, 255, 0.267);
    color: white;
    border-radius: 5px;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 15vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    font-size: 100%;
    width: 40%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 1.5em !important;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 10vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    padding-left: 0;
    padding-right: 0;
    font-size: 75%;
    width: 49%;
  }
}
html {
  background-color: #141c3e;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 600px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.App {
  position: relative;
  height: 100%;
  background-color: #090322;
}/*# sourceMappingURL=main.css.map */