@import "./scss_abstracts/variables";
//styles for utility components
@import "../src/app/components/utilities/moreInfoBtn/infoBtn";
@import "../src/app/components/utilities/trianglePointer/trianglePointer";
@import "../src/app/components/utilities/loadingIcon/loadingIcon";
@import "../src/app/components/utilities/dragAndDrop/dragAndDrop";
@import "../src/app/components/utilities/userProfile/userProfile";
@import "../src/app/components/utilities/resizable/resizableHandle";
@import "../src/app/components/utilities/progressBar/progressBar";
//General Styles
@import "../src/app/components/sideBar/sidebar";
@import "../src/app/components/carousel/singleSlideCarousel";
@import "../src/app/components/primaryNavbar/navbar";
@import "../src/app/components/homePage/home";
@import "../src/app/components/forms/forms";
@import "../src/app/components/footer/footer";
@import "../src/app/components/activityTypes/activity";
@import "../src/app/components/dashboard/dashboard";
@import "../src/app/components/avatarCreator/avatar";

//responsive stylesheet
@import "./scss_abstracts/mediaQueries"; 

body{
    font-family: $main-font;
    min-height: 40rem;
    @include fillContainer;
    @include no-space;
    overflow-y: scroll;
}

.App{
    position: relative;
    min-height: 100vh;
}

p{
    font-family:  $main-font;
    font-weight: 300;
    line-height: 1.7em;
}
a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

//styling for all inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    height: 50px !important;
    font-size: 14px;
    -moz-appearance: textfield;
}
