@-webkit-keyframes animate-loading-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loading-icon-container .loading-icon {
  border-radius: 50%;
  border: 4px rgba(99, 99, 99, 0.466) solid;
  border-top-color: rgba(107, 97, 144, 0.8);
  width: 30px;
  height: 30px;
  -webkit-animation: animate-loading-icon 0.85s linear infinite;
          animation: animate-loading-icon 0.85s linear infinite;
}

.loading-icon-container.fill-viewport {
  height: 100vh;
}
.loading-icon-container.fill-viewport .loading-icon {
  width: 50px;
  height: 50px;
  border: 5px rgba(99, 99, 99, 0.466) solid;
}

.navbar.home-page-nav {
  border-radius: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease-out;
  padding: 30px 30px;
  padding-bottom: 0px;
  margin: 0;
  color: white;
  border: none;
  z-index: 3;
}

.navbar.navbarScrollActive {
  padding: 5px 30px;
}

.navbar.navbarScrollActive.sidebar-close {
  background: rgba(107, 97, 144, 0.8);
}

.companyTitle {
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding-right: 2rem;
}

.nav-btn.home-page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: none;
  border: none;
  position: relative;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 1em;
}

.nav-btn.home-page-nav:hover, .nav-btn.home-page-nav:active {
  background: rgba(255, 255, 255, 0.185);
  color: white;
}

.nav-btn.home-page-nav > p {
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-btn.home-page-nav:focus p::after, .nav-btn.home-page-nav:active p::after {
  position: absolute;
  content: "";
  width: calc(100% - 2px);
  left: 1px;
  bottom: -1.5px;
  height: 2px;
  background-color: white;
}

#search-box {
  padding: 0;
  align-self: stretch;
}

#search-bar {
  transition: width ease 0.3s;
  padding: 0;
  align-self: stretch;
  width: 0px;
  border: 0;
  height: 70%;
}

#search-bar.expand {
  transition: all width ease 0.3s;
  margin: 0 0.5rem 0 0;
  padding-left: 10px;
  border: 0px;
}

#search-icon {
  border-radius: 5px;
  font-size: 20px;
}

/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left {
  transition: all ease 0.2s;
  padding-bottom: 2px;
  transform: rotate(180deg);
}

#search-btn {
  border-radius: 5px;
  background: none;
  border: none;
  height: 70%;
  width: 50px;
}

#nav-toggler.home-page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

#nav-toggler.home-page-nav, #search-btn {
  margin: 0;
  padding: 0;
}

#nav-icon.home-page-nav, #search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;
  color: white;
}

#nav-icon:hover, #search-icon:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
}

#nav-icon.home-page-nav.fa-arrow-down {
  transition: all ease 0.2s;
  transform: rotate(180deg);
}

#nav-icon.home-page-nav.fa-bars {
  transition: all ease 0.2s;
  transform: rotate(180deg);
  font-size: 28px;
}

/* this is to control the drop animation of navbar */
.home-page-nav.collapsing {
  transition: height 0.15s ease !important;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: background-color 250ms ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  height: 100%;
  padding: 5px 10px;
}

.user:hover {
  background-color: rgba(255, 255, 255, 0.267);
  cursor: pointer;
}

.user-active {
  background-color: rgba(255, 255, 255, 0.267);
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
}

.user-icon {
  color: #271b53;
}

.user-reward {
  margin: 0 10px;
}

.user-reward-icon {
  margin-right: 5px;
  font-size: 1rem;
}

.user-dropdown {
  border-radius: 15px;
  height: 310px;
  width: 440px;
  font-size: 0.9em;
  position: absolute;
  background-color: #150751;
  top: 100px;
  display: flex;
}

.user-dropdown-panel {
  height: 100%;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-dropdown-panel-header {
  height: 1.2rem;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

.user-dropdown-assignment {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-dropdown-connect {
  height: 60%;
  width: 100%;
}

.user-dropdown-connect > .user-dropdown-button {
  margin-top: 9.5px;
  margin-bottom: 9.5px;
}

.user-dropdown-buttons {
  height: 50%;
  width: 100%;
}

.user-dropdown-button {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in-out;
  border: none;
  color: white;
  text-align: center;
  width: 90%;
  height: 38px;
  margin: 7.5px auto;
  padding: 10px;
  background-color: #0b042b;
}

.user-dropdown-button:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
  cursor: pointer;
}

.user-dropdown-social-icon {
  margin-right: 10px;
}

.dropdown-enter {
  opacity: 0;
  transform: scale(0.9);
}

.dropdown-enter-active {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translateX(0);
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: scale(0.9);
}

.sidebar-nav {
  z-index: 4;
  height: 100vh;
  width: 35.9rem;
  background: rgba(31, 49, 110, 0.582);
}

.sidebar-dark-bg {
  border: none;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.685);
}

.sidebar-right {
  transition: all 0.3s ease-out;
  left: 0px;
}

.sidebar-left {
  transition: all 0.3s ease-out;
  transform: translate(-100%);
}

.sidebar-bg-show {
  display: inline;
}

.sidebar-bg-hide {
  display: none;
  visibility: hidden;
  position: absolute;
}

.sidebar-link-container {
  transition: all 0.25s ease-out;
  margin-top: 90px;
  margin-left: 36.8%;
  width: 150px;
  color: white;
  font-size: 0.9rem;
}

.sidebar-link-container.sidebarScrollActive {
  margin-top: 65px;
}

.sidebar-link {
  width: 1px;
  margin-bottom: 5px;
}

.sidebar-link > p {
  margin: 0;
  padding: 0;
}

.sidebar-link:hover {
  color: #a1a0a0;
}

.exit-sidebar-btn {
  border-radius: 5px;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: 90px;
  padding: 0 7px;
  color: white;
  font-size: 1.5em;
}

.exit-sidebar-btn:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
}

.home-page-stars {
  min-height: 200px;
  position: absolute;
  width: 100%;
  height: 27vh;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-homePage, #home-page-market-body {
  position: relative;
  text-align: justify;
  padding: 0 10vw;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0;
  min-height: 550px;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.homePageImage, .home-page-market-body-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
}

.homePageText {
  color: white;
}

.introContainer {
  border-radius: 5px;
  position: relative;
  color: white;
  text-align: center;
  padding: 30px;
  min-width: 250px;
  width: 35vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.342);
  z-index: 1;
  background: rgba(6, 29, 80, 0.383);
  overflow: hidden;
}

.introContainer:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  z-index: -1;
  box-shadow: inset 0 0 2000px #142149;
  filter: blur(4px);
}

.introContainer h2 {
  width: 30vw;
  font-family: "Bitter", serif;
  font-weight: 700;
}

.introContainer p {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

#signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#signup-btn span {
  font-size: 0.95rem;
}

#signup-btn span i {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

#home-enter-code > input[type=number] {
  width: 110px;
}

#home-enter-code > label {
  border: none !important;
  font-size: 0.8rem;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

#home-enter-code > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.9;
  transform: scale(0.7) translateY(-0.7rem) translateX(0.2rem) !important;
}

#home-enter-code > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.9;
  transform: scale(0.7) translateY(-0.7rem) translateX(0.2rem) !important;
}

#home-enter-code > .form-control:focus ~ label,
#home-enter-code > .form-control:not(:placeholder-shown) ~ label,
#home-enter-code > .form-select ~ label {
  opacity: 0.9;
  transform: scale(0.7) translateY(-0.7rem) translateX(0.2rem) !important;
}

.home-explore-link {
  color: white;
  justify-self: end;
}

.home-explore-link:hover {
  color: #aaa9a9;
}

.home-explore-link > p {
  display: inline;
  margin: 0;
}

#home-page-market-intro div {
  height: 20vh;
  min-height: 300px;
  margin-bottom: 1rem;
}
#home-page-market-intro div p {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
}
#home-page-market-intro div img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  min-height: 300px;
  height: 100%;
}
#home-page-market-intro h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: orange;
  font-weight: 700;
  text-align: center;
}
#home-page-market-intro h6 {
  font-size: 0.95rem;
  margin-bottom: 6rem;
  text-align: center;
}
#home-page-market-intro .teacherPointing p {
  margin-top: -7rem;
}
#home-page-market-intro .planet img {
  margin-top: -5rem;
}
#home-page-market-intro .pencils p {
  margin-top: -3rem;
}
#home-page-market-intro .pencils {
  margin-bottom: 4rem;
}
#home-page-market-intro h4 {
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
#home-page-market-intro button {
  background-color: orange;
  color: white;
  border: orange 1px solid;
  margin-bottom: 6rem;
}
#home-page-market-intro button:hover {
  background-color: white;
  color: orange;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 10vh 15vw;
  min-height: 600px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
}

#signUpForm, #loginForm {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  color: white;
}

#signUpForm.studentSignUpForm, .studentSignUpForm#loginForm {
  background-color: rgba(107, 97, 144, 0.8);
  border: 1px solid rgba(107, 97, 144, 0.8);
}

#signUpForm.teacherSignUpForm, .teacherSignUpForm#loginForm {
  background-color: rgba(0, 0, 0, 0.568);
  border: 1px solid white;
}

.formNavBtns > button {
  width: 100%;
  background-color: #0e050f09;
  border: 1px solid white;
  color: white;
}

.formTypeBtns > button {
  color: white;
}

.formTypeBtns > button.active {
  color: #592a80;
  background-color: white;
}

.formTypeBtns > .student {
  margin-right: 1vw;
  border: 1px solid white;
}

.formTypeBtns > .teacher {
  margin-left: 1vw;
  background-color: black;
}

.formNavBtns > button:hover, .formTypeBtns > button:hover {
  background-color: white;
  border: 1px solid white;
  color: #592a80;
}

#signUpOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#signUpOptions > button, .email-btn {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  align-items: center;
  height: 40px;
  width: 183px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.g_id_signin {
  display: flex;
  justify-content: center;
}

/* Sign up with e-mail button */
.email-btn {
  align-self: center;
  background-color: white;
  border: 1.5px solid white;
}

.email-btn:hover {
  background-color: #777777;
  color: white;
}

.email-text {
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  height: 50px !important;
  font-size: 14px;
  -moz-appearance: textfield;
}

.logSignForm.form-select {
  height: 40px;
  font-size: 13px;
}

#signUpForm > div > .form-floating, #loginForm > div > .form-floating {
  color: black;
}

.logSignForm.form-floating > label {
  padding: 0.6rem;
  color: black;
  font-size: 14px;
  padding-top: 14px;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.logSignForm.form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.9;
  transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.logSignForm.form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.9;
  transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.logSignForm.form-control:focus ~ label,
.logSignForm.form-control:not(:placeholder-shown) ~ label,
.logSignForm.form-select ~ label {
  opacity: 0.9;
  transform: scale(0.75) translateY(-0.45rem) translateX(0.2rem) !important;
}

.code-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.code-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-inputs > input {
  border-radius: 5px;
  margin: 1vw 0.5vw;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 30px;
}

.code-label {
  text-align: center;
}

.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 75%;
  background-color: rgba(89, 42, 128, 0.65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 50px;
}

.form-signUpOptions {
  color: white;
}

.form-check {
  color: white;
}

#copyright {
  margin: 0;
  padding: 0;
  color: white;
}

#footer {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #6b6190;
}

.foot-link {
  color: white;
  text-align: center;
  width: 60%;
}

.foot-link:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
  border-radius: 5px;
}

#footer div div > h5 {
  color: white;
}

html.sortActivityActive {
  scroll-behavior: unset !important;
}

.instructions {
  margin: 3%;
  color: white;
  font-size: 1.7rem;
  padding: 0;
}

.draggableAreaContainer {
  padding: 20px;
}

.sortArea, .answerArea {
  border-radius: 10px;
  height: 100%;
  border: 1px solid white;
  font-size: 1.2rem;
  margin: 1.2%;
  list-style-type: none;
}

.sortArea p, .answerArea p {
  color: white;
  margin: 0;
  padding: 0;
}

.dropContainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sortArea .dropContainer, .answerArea .dropContainer {
  border-radius: 0px 0px 10px 10px;
  height: 150px;
  border-top: 1px white solid;
  overflow-y: auto;
}

.answerArea {
  border: none;
  margin-bottom: 5%;
}

.answerArea .dropContainer {
  border-radius: 10px;
  height: 100%;
  min-height: 150px;
  overflow-y: hidden;
  border: 1px rgba(0, 0, 0, 0) solid;
}

.dragItem {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  font-size: 0.9rem;
  color: white;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
}

.dragItem:hover {
  background-color: white;
  color: black;
}

.dragItem:active {
  background-color: white;
  color: black;
}

.tilesMatchedMessage {
  color: white;
}

.matchInstruction {
  color: white;
  font-size: 1.1em;
  margin: 0;
}

.match-activity-timer {
  position: relative;
  color: white;
}

.match-activity-timer .timer-counter {
  border-radius: 10px;
  color: black;
  text-align: center;
  position: relative;
  margin-left: 7px;
  margin-right: 2px;
  padding: 3px 0px;
  font-size: 12px;
  overflow: hidden;
  min-width: 70px;
  z-index: 1;
}

.match-activity-timer .timer-counter:before {
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: inset 0 0 2000px white;
  filter: blur(3.5px);
}

.match-activity-timer button {
  background: none;
  border: none;
  font-size: 12px;
  color: white;
}

.gridLayout {
  margin-top: 10px;
}

.tile {
  display: inline-block;
  position: relative;
}

.tile::after {
  padding: 50%;
  display: block;
  content: "";
}

.gridTiles {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  color: white;
  font-size: 71%;
  border: 1px white solid;
  overflow-x: hidden;
  overflow-y: auto;
}

.gridTiles::-webkit-scrollbar {
  width: 14px;
  margin-right: 10px;
}

.gridTiles::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: white;
}

.gridTiles:hover, .gridTiles.hover {
  background-color: white;
  color: black;
}

.gridTiles.active, .gridTiles:active {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  z-index: 2;
  border: 1px #272727 solid;
}

.gridTiles p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  width: 50px;
}

.emptyTile {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  position: absolute;
}

.MCInputContainer {
  margin-top: 15px;
  font-size: 0.9em;
}

.MCInputContainer label {
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  padding: 10px 20px;
  transition: all 0.3s;
  color: white;
  border: 1px white solid;
}

.MCInputContainer label:hover {
  background-color: white;
  color: black;
}

.MCInputContainer input[type=radio] {
  display: none;
  visibility: hidden;
  position: absolute;
}

.MCInputContainer input[type=radio]:checked + label {
  background-color: white;
  color: black;
}

.mc-answer-choice, .empty-mc-item {
  margin: 5px;
}

.mc-activity-image {
  max-width: 70%;
  max-height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.SAInputContainer {
  margin-top: 15px;
  font-size: 0.9em;
}

.SAInputContainer > textarea {
  min-height: 300px;
  max-height: 600px;
  height: 100%;
}

.labelPicApp {
  padding-top: 150px;
  color: white;
}

.labelPicApp img {
  min-width: 175px;
  height: 100%;
  width: 100%;
}

.imgIndicatorContainer {
  position: relative;
}

.labelIndicators {
  position: absolute;
  border: 1px white solid;
}

.labelWordBankColumn, .imgLabelContainer {
  border-radius: 6px;
  min-height: 100px;
  margin: 5px;
  padding: 2.5px;
}

.imgLabelContainer {
  min-height: 47px;
  border: 1px white solid;
}

.labelChoices {
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  width: 100%;
  min-height: 30px;
  border: 1px white solid;
}

.labelChoices p {
  margin: 0;
  padding: 0;
  color: white;
}

.navActivityBtn {
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 20px;
  margin: 20px 0;
  border: 1px white solid;
}

.navActivityBtn:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
}

.activity-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.active-activity-bg {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.activities-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2rem;
  height: 3rem;
  background-color: rgba(107, 97, 144, 0.8) !important;
  z-index: 2;
}
.activities-nav .back-button-container .back-button {
  height: 100%;
  font-size: 0.8rem;
  border: 1px white solid;
  color: white;
}
.activities-nav .back-button-container .back-button:hover {
  background: rgba(255, 255, 255, 0.185);
  color: white;
}
.activities-nav .navbar-brand {
  font-size: 1rem !important;
}

.activity-type-container {
  border-radius: 25px;
  position: relative;
  margin-top: 2rem;
  padding: 20px;
  text-align: center;
  min-height: 75vh;
  z-index: 1;
  overflow: hidden;
}

.nav-activity-btns {
  z-index: 1;
}

.question-transition-container {
  position: relative;
}

.question-move-left-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 100%;
  opacity: 0;
  transform: translateX(-100vw);
}

.question-move-left-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.question-move-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.question-move-left-exit-active {
  opacity: 0;
  transform: translateX(100vw);
}

.question-move-right-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transform: translateX(100vw);
}

.question-move-right-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.question-move-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.question-move-right-exit-active {
  opacity: 0;
  transform: translateX(-100vw);
}

.dashboard-container {
  font-size: 1rem;
  background-color: ghostwhite;
  height: 94%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.dashboard-container .dashboard-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 180px;
  border-right: 1px solid rgba(179, 179, 179, 0.5);
  background-color: white;
  padding: 0.9rem 0;
  box-shadow: 3px 1px 10px 7px rgba(0, 0, 0, 0.1);
}
.dashboard-container .dashboard-sidebar .sidebar-item {
  font-size: 0.9rem;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.dashboard-container .dashboard-sidebar .sidebar-item .tab-button {
  padding: 5px 10px;
  width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.dashboard-container .dashboard-sidebar .sidebar-item .tab-button:hover {
  transform: scale(1.05);
}
.dashboard-container .dashboard-sidebar .sidebar-item .tab-button:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.05);
}
.dashboard-container .dashboard-sidebar .sidebar-item .selected {
  background-color: #8a00ca;
  color: white;
  font-weight: bold;
}
.dashboard-container .dashboard-sidebar .sidebar-item p {
  margin: 0;
  transition: all 0.25s ease-in-out;
}
.dashboard-container .main-content {
  width: 85%;
  height: 100%;
  padding: 1.7rem;
}

.dashboard-nav {
  padding: 0 2rem;
  height: 3rem;
  background-color: #480069 !important;
}
.dashboard-nav .back-button-container .back-button {
  height: 100%;
  font-size: 0.8rem;
  color: #f6f6f6;
  background-color: rgba(255, 255, 255, 0.219);
}
.dashboard-nav .back-button-container .back-button:hover {
  background-color: rgba(255, 255, 255, 0.45);
}
.dashboard-nav .navbar-brand {
  font-size: 1rem !important;
}

.card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.row-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.overview-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.1);
  height: 8rem;
  margin-right: 1rem;
}
.overview-card h5 {
  font-size: 1.1rem;
}
.overview-card h6 {
  font-size: 0.9rem;
  transition: color 0.25s ease-in-out;
}
.overview-card p {
  font-size: 0.8rem;
}
.overview-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.2);
}
.overview-card:hover h6 {
  color: #8a28da !important;
}

.class-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.1);
  margin-right: 1rem;
}
.class-card h5 {
  font-size: 1.1rem;
}
.class-card h6 {
  font-size: 0.9rem;
  transition: color 0.25s ease-in-out;
}
.class-card p {
  font-size: 0.8rem;
}
.class-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.2);
}
.class-card:hover h6 {
  color: #8a28da !important;
}

.student-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.1);
  margin: 0 0.5rem 0.5rem 0;
  flex-direction: row;
}
.student-card h5 {
  font-size: 1.1rem;
}
.student-card h6 {
  font-size: 0.9rem;
  transition: color 0.25s ease-in-out;
}
.student-card p {
  font-size: 0.8rem;
}
.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.2);
}
.student-card:hover h6 {
  color: #8a28da !important;
}
.student-card .icon {
  background-color: red;
  display: flex;
  flex: 0 0 auto;
  margin: auto 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.assignment-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.1);
}
.assignment-card h5 {
  font-size: 1.1rem;
}
.assignment-card h6 {
  font-size: 0.9rem;
  transition: color 0.25s ease-in-out;
}
.assignment-card p {
  font-size: 0.8rem;
}
.assignment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.2);
}
.assignment-card:hover h6 {
  color: #8a28da !important;
}

.control-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 3rem;
  flex-shrink: 0;
}
.control-bar .buttons {
  display: flex;
}
.control-bar .buttons .button {
  margin-right: 10px;
  height: 40px;
  font-size: 0.8rem;
}
.control-bar .search {
  display: flex;
  flex-grow: 1;
  height: 40px;
}
.control-bar .search .input-group {
  height: 40px !important;
}
.control-bar .search .input-group .input-group-text {
  height: inherit;
  font-size: 0.8rem;
}
.control-bar .search .input-group .form-control {
  height: inherit !important;
}

.activityList {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}

#activity-controls {
  padding: 10px 10px;
  padding-top: 0;
  height: auto;
}

.activity-row {
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 0.8rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 11px rgba(33, 33, 33, 0.1);
}
.activity-row .title {
  display: flex;
  align-items: center;
  height: 100%;
}
.activity-row .num-questions {
  display: flex;
  align-items: center;
  height: 100%;
}
.activity-row .btns {
  display: flex;
  justify-content: flex-end;
}
.activity-row .btns .btn {
  height: 2rem;
  padding: 5px 10px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

@media (min-width: 992px) {
  #nav-icon {
    display: none;
    visibility: hidden;
    position: absolute;
  }

  #search-box {
    margin-left: 1.7rem;
  }

  #search-bar.expand {
    width: 150px;
    transition: width ease 0.3s;
  }

  .signout-btn {
    margin-left: 1.7rem;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 18vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    font-size: 120%;
    width: 35%;
  }
}
@media (max-width: 992px) {
  .navbar.home-page-nav {
    padding: 15px 25px !important;
    background: rgba(107, 97, 144, 0.8);
  }

  #search-box {
    margin-top: 0.7rem;
  }

  #search-btn {
    height: 50px !important;
  }

  #search-bar {
    height: 50px !important;
  }

  #search-bar.expand {
    width: calc(100% - 60px);
    height: 50px;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 15vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    font-size: 100%;
    width: 40%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 1.5em !important;
  }

  #formContainer, #signUpForm, #loginForm {
    padding: 10vh 10vw;
  }

  .formNavBtns > button, .formTypeBtns > button {
    padding-left: 0;
    padding-right: 0;
    font-size: 75%;
    width: 49%;
  }

  #home-page-market-intro div p {
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
  }
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 600px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.App {
  position: relative;
  min-height: 100vh;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}/*# sourceMappingURL=main.css.map */