
#copyright{
    @include no-space
}

.foot-link{
    color: $main-font-color;
    text-align: center;
    width: 60%;
}

.foot-link:hover{
    @include hover-color;
    @include border-radius(5px);
}

#footer>div>h5{
    color: white
}
