
$sort-creation-question-add-category-height: 3.5rem;
$sort-creation-category-container-height: calc(
    100vh
    - #{$activity-creation-navbar-height} 
    - #{$activity-creation-question-header-height}
    - #{$activity-creation-question-top-margin}
    - #{$activity-creation-question-container-padding-top}
    - #{$sort-creation-question-add-category-height}
);

.sort-creation-question{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: $light-gray;
    @include border-radius (0.5rem);
}
.sort-creation-overall-categories-container{
    position: relative;
    height: $sort-creation-category-container-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
    @include activity-scrollbar-styles();
    &:empty:after{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "Add a category to get started";
    }
}

.sort-creation-categories-row{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    padding-bottom: 0.75rem;
    
}

.sort-creation-category-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0.75rem;
    padding-bottom: 0;
    padding-right: 0rem;
}

.sort-creation-category{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: calc(#{$sort-creation-category-container-height} - 10vh);
    background-color: $white;
    @include border-radius(0.3rem);
    padding-left: 0.5rem;
    overflow: scroll;
    overflow-x: hidden;
    @include activity-scrollbar-styles();
}

.sort-creation-droppable-header{
    position: relative;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    color: $white;
    width: 100%;
    min-height: 4rem;
    padding: 0.5rem;
    z-index: 1;
    background-color: $white;
}
.sort-creation-droppable-header-inner{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $light-blue;
    .sort-creation-droppable-name{
        @include remove-btn-default();
        width: 100%;
        height: 100%;
        min-height: 3.2rem;
        font-weight: 500;
        font-size: 0.9rem;
        margin: auto;
        max-height: 6rem;
        overflow-wrap: break-word;
        word-break: break-word;
        overflow: auto;
        @include activity-scrollbar-styles;

    }
}
.sort-creation-droppable-name-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0.3rem;
}
.sort-creation-droppable-name-textarea{
    font-size: 0.8rem;        
    display: grid;
    margin: auto;
    @include activity-scrollbar-styles;
    overflow: auto;
    max-height: 6rem;
    background-color: $white;
    @include border-radius(0.3rem);
    &::after{
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
    }
    textarea{
        resize: none;
        overflow: hidden;
        outline: none;
    }
    textarea, &::after {
        width: 100%;
        /* Identical styling required!! */
        border: none;
        padding: 0.1rem 0.5rem;
        font: inherit;
        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;        
        @include activity-scrollbar-styles;
    }
}
.sort-creation-category-edit{
     @include remove-btn-default();
     background-color: $blue;
     color: $white;
     min-width: 2rem;
     font-size: 0.9rem;

}
.sort-creation-category-delete{
    @include remove-btn-default();
    background-color: $red;
    height: 100%;
    min-width: 2rem;
    color: $white;
    font-size: 0.9rem;

}
.sort-creation-droppable{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: min-content;
    padding: 0.5rem;
    padding-bottom: 4.5rem;
}
.sort-creation-droppable-add-draggable{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 1.25rem);
    bottom: 0;
    left: 0.75rem;
    height: 4rem;
    padding: 0.75rem 0.25rem;
    padding-left: 0.75rem;
    background-color: $white;
    button{
        @include remove-btn-default();
        width: 100%;
        height: 100%;
        background-color: $green;
        font-size: 0.85rem;
        span{
            margin-left: 0.3rem;
        }
    }
}

.sort-creation-category-item{
    display: flex;
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: darkorange;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.sort-creation-category-item-content{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0 0.3rem;
}
.sort-creation-category-item-content-inner{
    display: flex;
    @include remove-btn-default();
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    margin: auto;
    overflow: auto;
    max-height: 3rem;
    overflow-wrap: break-word;
    word-break: break-word;
    @include activity-scrollbar-styles;
}
.sort-creation-category-item-content-textarea{
    font-size: 0.8rem;        
    display: grid;
    margin: auto;
    @include activity-scrollbar-styles;
    overflow: auto;
    max-height: 3rem;
    background-color: $white;
    @include border-radius(0.3rem);
    &::after{
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
    }
    textarea{
        resize: none;
        overflow: hidden;
        outline: none;
    }
    textarea, &::after {
        width: 100%;
        /* Identical styling required!! */
        //border: 1px solid $dark-gray;
        border: none;
        padding: 0.1rem 0.5rem;
        font: inherit;
        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;
        //overflow: auto;
        
        @include activity-scrollbar-styles;
    }
}
textarea.sort-creation-category-item-content-inner{
    resize: none;
    background-color: white;
    width: min-content;
    @include activity-scrollbar-styles;
}
.sort-creation-category-item-btn-container{
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 3rem;
}
.sort-creation-category-item-edit,
.sort-creation-category-item-remove{
    @include remove-btn-default();
    font-size: 0.8rem;
    height: 2rem;
    width: 1.5rem;
    color: $white;
}
.sort-creation-category-item-edit{
    background-color: $blue;
}
.sort-creation-category-item-remove{
    background-color: $red;
}


.sort-creation-question-add-category{
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: $lighter-gray;
    height: $sort-creation-question-add-category-height;
    left: 0;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    z-index: 2;
    .add-category-btn{
        @include remove-btn-default();
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $green;
        font-weight: 500;
        span{
            margin-left: 0.3rem;
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}

@import "./sortActivityPreview"